/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}


/* ==========================================================================
   custom styles
   ========================================================================== */

body {
    color: rgba(35, 40, 56, 0.7) font-size: 16px;
    line-height: 1.4;
    font-family: 'Poppins', sans-serif!important;
    font-weight: 300;
}


/*********header**********/

.header {
    position: fixed;
    width: 100%;
    transition: all 0.4s ease;
    background: transparent;
    z-index: 999;
    height: 80px;
    padding: 15px 0;
}

.header .navbar {
    min-height: 80px;
    border-bottom: none;
    margin-bottom: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.header.sticky {
    height: 70px;
    padding: 8px 0;
    background: rgba(0, 0, 0, 0.4);
}

.header.sticky .navbar-brand .logo {
    width: 140px;
}

.header.sticky .navbar-nav {
    margin: 5px 0;
}

.header .navbar-nav {
    transition: all 0.4s ease;
    margin: 0px 0;
}

.header .navbar-nav li a {
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    padding: 10px 15px;
    font-weight: 400;
}

.header .navbar-nav li a span {
    padding-right: 5px;
}

.client-login {
    background: #1D7FCB;
    border-radius: 46px;
    font-size: 18px;
    font-weight: 300;
    padding: 10px 25px;
    transition: all 0.5s ease;
}
.client-login:hover,.client-login:active,.client-login:focus {
    background: #1970b3!important;
}
.header .navbar-brand {
    height: auto;
    padding: 4px 10px;
    margin-left: 0!important;
}

.header .navbar-brand .logo {
    width: 160px;
    transition: all 0.4s ease;
}

.header .nav>li>a:focus,
.header .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}


/*********header//**********/


/*********banner**********/

.banner {
    position: relative;
}

.slides {
    height: 678px;
    position: relative;
}

.slides-1 {
    background: url(../images/banner.jpg) no-repeat center center;
    background-size: cover;
}

.slides-2 {
    background: url(../images/home_banner_2.jpg) no-repeat center center;
    background-size: cover;
}

.slides-3 {
    background: url(../images/home_Banner_3.jpg) no-repeat center center;
    background-size: cover;
}

.banner-text {
    width: 600px;
    margin: auto 0 auto auto;
}

.banner-text .title {
    font-size: 44px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 60px;
    font-weight: 300;
    margin-top: 250px;
}

.banner-text .title strong {
    font-weight: 600;
}

.banner-text .title span {
    color: #FF9700;
}

.banner-text .sub-title {
    font-size: 22px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 50px;
    font-weight: 300;
    margin-top: 0;
}

.banner .flexslider {
    margin: 0!important;
    border: none!important;
}

.banner .flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: 40px;
    text-align: center;
    padding-left: 60px;
    z-index: 999;
}

.banner .flex-control-nav li {
    margin: 0px 3px;
}

.banner .flex-control-paging li a {
    width: 25px;
    height: 2px;
    background: rgba(216, 216, 216, 0.8);
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 0px;
}

.banner .flex-control-paging li a.flex-active,
.banner .flex-control-paging li ahover {
    background: #FF9700;
}


/*********banner//**********/


/*********about**********/

.about {
    padding: 80px 0;
    text-align: center;
}

.heading-1 {
    font-weight: 400;
    font-size: 36px;
    color: #232838;
    letter-spacing: 0;
    line-height: 50px;
    margin: 0 0 15px;
}

.heading-3 {
    font-weight: 300;
    font-size: 24px;
    color: #232838;
    letter-spacing: 0;
    line-height: 35px;
    margin: 0 0 0px;
}

.our-customers {
    padding: 20px 0;
}

.our-customers .heading-3 {
    font-weight: 400;
}

.un-styled {
    padding: 0;
    margin: 0;
    list-style: none;
}

.our-customers ul li {
    display: inline-block;
    font-size: 18px;
    color: #232838;
    letter-spacing: 0;
    line-height: 14px;
    font-weight: 300;
    padding: 10px 15px;
}

.our-customers ul li span {
    padding-right: 5px;
}

.primary-clr {
    color: #FF9700!important;
}


/*********about//**********/


/*********feature-list**********/

.features {
    padding: 80px 0;
    background: #F3F3F3;
}

.features .heading-1 {
    text-align: center;
}

.feature-list {
    padding: 40px 0;
}

.feature-list .nav-tabs>li>a {
    border-radius: 0;
    text-align: center;
    border: none;
    border-bottom: solid transparent 2px;
    transition: all 0.5s ease;
    padding: 10px 36.8px;
}

.feature-list .nav-tabs>li.active>a,
.feature-list .nav-tabs>li.active>a:focus,
.feature-list .nav-tabs>li.active>a:hover,
.feature-list .nav-tabs>li>a:hover {
    border: none;
    background: none;
    border-bottom: solid #1E7ED4 2px;
}

.feature-list .nav-tabs>li>a img {
    margin-bottom: 15px;
}

.feature-list .nav-tabs>li>a span {
    display: block;
    font-size: 16px;
    color: #232838;
    letter-spacing: 0;
}

.feature-list .tab-content {
    padding-top: 70px;
}

.features .heading-3 {
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 20px;
}

.tab-details {
    padding: 0 25px;
}

.plain-text {
    font-size: 16px;
    letter-spacing: 0;
    font-weight: 300;
    color: rgba(35, 40, 56, 0.7);
}


/*********feature-list//**********/


/*********technology**********/

.technology {
    padding-top: 80px;
    text-align: center;
    background: #F3F3F3;
}

.custom-arrow-list {
    padding: 20px 0;
    margin-bottom: 65px;
}

.custom-arrow-list:after {
    content: '';
    display: block;
    clear: both;
}

.custom-arrow-list ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.custom-arrow-list ul li {
    width: calc(100%/4);
    position: relative;
    padding: 0 20px;
    float: left;
}

.custom-arrow-list ul li:before {
    content: '';
    position: absolute;
    right: -83px;
    top: 24%;
    width: 166px;
    border-bottom: dashed #232838 1px;
}

.custom-arrow-list ul li:nth-child(3):before{
    top: 22%;
}
.custom-arrow-list ul li:nth-child(2):before{
    top: 29%;
}
.custom-arrow-list ul li:nth-child(1):before{
    top: 27%;
}

.custom-arrow-list ul li:after {
    content: url(../images/arrow.svg);
    position: absolute;
    right: -90px;
    top: 23px;
    width: 173px;
}

.custom-arrow-list ul li:last-child:before,
.custom-arrow-list ul li:last-child:after {
    content: '';
    display: none;
}

.custom-arrow-list ul li span {
    display: inline-block;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: dashed #232838 1px;
    margin-bottom: 10px;
}

.custom-arrow-list ul li span img {
    margin-top: 23px;
}

.custom-arrow-list ul li h6 {
    font-size: 16px;
    color: #232838;
    letter-spacing: 0;
    line-height: 20px;
    font-weight: 400;
}

.custom-arrow-list ul li p {
    font-weight: 300;
    font-size: 14px;
    color: rgba(35, 40, 56, 0.7);
    letter-spacing: 0;
}

.media {
    text-align: left;
    padding: 0 25px;
}


/*********technology//**********/

.footer p {
    font-size: 13px;
    color: rgba(0, 0, 0, .8);
    letter-spacing: 0;
    line-height: 22px;
    text-align: center;
    margin-bottom: 0;
}

#topcontrol {
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    width: 54px;
    height: 54px;
    line-height: 54px;
    border: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}



#topcontrol img {
    position: relative;
}

.media-left {
    padding-right: 30px;
}

.our-services {
    text-align: center;
    padding: 80px 0;
}

.service-list {
    margin-top: 60px;
}

.service-img img {
    width: 100%;
}

.service-details {
    text-align: left;
    padding: 0 25px;
}

.service-details h3 {
    font-weight: 400;
    font-size: 24px;
    color: #232838;
    letter-spacing: 0;
    line-height: 34px;
    margin-top: 0px;
}

.service-details2 {
    text-align: left;
    margin-top: 30px;
    padding: 0 25px;
}

.service-details2 h3 {
    font-weight: 400;
    font-size: 24px;
    color: #232838;
    letter-spacing: 0;
    line-height: 34px;
    margin-top: 0px;
}

/*.service-details h3:before {
    content: url('../images/abstract.svg');
    margin-right: 15px;
}*/

/*.service-details h3:after {
    content: "";
    width: 335px;
    background-color: #FF9700;
    top: 60px;
    left: 45px;
    height: 2px;
    position: absolute;
}*/

/*.service-details2 h3:before {
    content: url('../images/house.svg');
    margin-right: 15px;
}*/

/*.service-details2 h3:after {
    content: "";
    width: 300px;
    background-color: #FF9700;
    bottom: 144px;
    left: 45px;
    height: 2px;
    position: absolute;
}
*/
.service-listing {
    margin-top: 20px;
    padding-left: 0px;
}

.service-listing li {
    font-weight: 300;
    font-size: 16px;
    color: rgba(35, 40, 56, 0.7);
    letter-spacing: 0;
    list-style: none;
    background-image: url('../images/Rectangle_Icon.svg') !important;
    background-repeat: no-repeat;
    background-position: 0% 6px;
    padding-left: 15px;
    margin-bottom: 3px;

}
.media-body > p{
    font-size: 24px;
}
.media-body ul {
    padding-left: 0px;
}

.media-body ul li {
    list-style: none;
    background-image: url('../images/Rectangle_Icon_lg.svg') !important;
    background-repeat: no-repeat;
    background-position: 0% 4px;
    padding-left: 15px;
     margin-bottom: 10px;
     font-size: 16px;
         font-weight: 400;
         color: #232838;
}
.media-body ul li p{
    margin-bottom: 5px;
     font-weight: 300;

}
.media-body ul li ul li{
    list-style: none;
    background-image: url('../images/Rectangle_Icon.svg') !important;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-position: 0% 6px;
    padding-left: 15px;
     margin-bottom: 0px;
     font-size: 14px;
}
.map {
    text-align: center;
    padding: 80px 0;
}

.presence h3 {
    font-weight: 400;
    font-size: 36px;
    color: #232838;
    letter-spacing: 0;
    line-height: 50px;
}

.presence h3 span {
    color: #FF9700;
}

.map-img {
    margin-top: 40px;
}

.footer-links {
    padding: 40px 0;
    background: #222637;
}

.quick-links ul {
    padding-left: 0px;
}

.quick-links ul li {
    display: inline-block;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.06px;
    margin-right: 20px;
}

.quick-links ul li a {
    text-decoration: none;
    color: #FFFFFF !important;
}

.quick-links ul li a:after {
    content: "";
    width: 1px;
    background-color: #fff;
    top: 5px;
    height: 10px;
    position: absolute;
    margin-left: 13px;
}

.quick-links ul li:last-child a:after {
    content: "";
    width: 1px;
    background-color: transparent;
}

.address {
    margin-top: 20px;
}

.address h4 {
    font-weight: 300;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: 0.06px;
    margin-bottom: 5px;
}

.address p {
    font-weight: 300;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0.06px;
}

.ft-logo {
    text-align: right;
}

.ft-logo ul li {
    display: inline-block;
    margin-right: 20px;
}

.ft-logo ul li:last-child {
    margin-right: 0;
}

.footer-main {
    padding: 20px 0;
    background: #000415;
}

.copyright {
    font-weight: 400;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 0;
    margin-bottom: 0;
}

.footer-main .row .col-md-6:last-child {
    text-align: right;
}

.footer-main a {
    font-weight: 400;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 0;
}
.animated {
  animation-duration: 2s;
  animation-fill-mode: both;
}


.xtra-img{
    float: right;
}
.tech-xtras:after{
    content: '';
    display: block;
    clear: both;
}

@media only screen  and (min-width : 1280px) and  (max-width : 1365px) {
    .tech-xtras .media-content{
        padding-left: 5%;
        float: left;
        width: 50%;
    }
}
@media only screen  and (min-width : 1366px) {
    .tech-xtras .media-content{
        padding-left: 5%;
        float: left;
        width: 52%;
    }
}
@media only screen  and (min-width : 1824px) {
    .tech-xtras .media-content{
        padding-left: 20%;
    }
}

/* Overlay style */
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #1D7FCB;
    z-index: 999;
}

/* Overlay closing cross */
.overlay .overlay-close {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 20px;
    top: 20px;
    overflow: hidden;
    border: none;
    background: url(../images/close-icon.png) no-repeat center center;
    text-indent: 200%;
    color: transparent;
    outline: none;
    z-index: 100;
}

/* Menu style */
.overlay nav {
    text-align: center;
    position: relative;
    top: 50%;
    height: 60%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    height: 100%;
    position: relative;
}




/* Effects */
.overlay-scale {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
    transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}

.overlay-scale.open {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);    
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
}

@media screen and (max-height: 30.5em) {
    .overlay nav {
        height: 70%;
        font-size: 34px;
    }
    .overlay ul li {
        min-height: 34px;
    }
}
.overlay nav ul li {
    display: inline-block;

}

.overlay nav ul {
    padding-top: 100px;
}

.overlay nav ul li a{
    display: inline-block;
    padding: 50px;
    margin-right: -4px;
    border-bottom: 3px solid transparent;
    transition: all 0.5s ease;

}
.overlay nav ul li a:hover,.overlay nav ul li.active a{
    border-bottom: 3px solid #FF9700;


}
.nav-text {
    display: block;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0;
    padding-top: 15px;
     transition: all 0.5s ease;
}

.overlay nav ul li a:hover {
    text-decoration: none;
}

.overlay nav ul li a:hover .nav-text ,.overlay nav ul li.active a .nav-text {
    color: #FF9700 !important;
    text-decoration: none!important;
}
.overlay nav ul li a #about_Icon1 ,.overlay nav ul li a #about_Icon2 ,.overlay nav ul li a #about_Icon3 ,.overlay nav ul li a #about_Icon4 {
    fill: #FFFFFF;
    transition: all 0.5s ease;
}
.overlay nav ul li a #about_Icon5,.overlay nav ul li a #about_Icon6 ,.overlay nav ul li a #about_Icon7 ,.overlay nav ul li a #about_Icon7  {
    fill: #FFFFFF;
    transition: all 0.5s ease;
}
.overlay nav ul li a #about_Icon8,.overlay nav ul li a #about_Icon9,.overlay nav ul li a #about_Icon10 {
    fill: #FFFFFF;
    transition: all 0.5s ease;
}
.overlay nav ul li a:hover #about_Icon1 ,.overlay nav ul li.active a #about_Icon1 ,
.overlay nav ul li a:hover #about_Icon2 ,.overlay nav ul li.active a #about_Icon2 ,
.overlay nav ul li a:hover #about_Icon3 ,.overlay nav ul li.active a #about_Icon3 ,
.overlay nav ul li a:hover #about_Icon4,.overlay nav ul li.active a #about_Icon4 {
    fill: #FF9700;
    
}
.overlay nav ul li a:hover #about_Icon5,.overlay nav ul li.active  a #about_Icon5,
.overlay nav ul li a:hover #about_Icon6 ,.overlay nav ul li.active a #about_Icon6 ,
.overlay nav ul li a:hover #about_Icon7,.overlay nav ul li.active a #about_Icon7  {
    fill: #FF9700;
   
}
.overlay nav ul li a:hover #about_Icon8,.overlay nav ul li.active a #about_Icon8,
.overlay nav ul li a:hover #about_Icon9,.overlay nav ul li.active a #about_Icon9,
.overlay nav ul li a:hover #about_Icon10,.overlay nav ul li.active a #about_Icon10 {
    fill: #FF9700;
}

.overlay nav ul li a #about_Icon_stroke {
    stroke: #FFFFFF;
    transition: all 0.5s ease;
}

.overlay nav ul li a:hover #about_Icon_stroke,.overlay nav ul li.active a #about_Icon_stroke {
    stroke: #FF9700;
}
.overlay nav ul li a #exp_deature{
    fill: #FFFFFF;
    transition: all 0.5s ease;
}
.overlay nav ul li a:hover #exp_deature,.overlay nav ul li.active a #exp_deature{
    fill: #FF9700;
}
.overlay nav ul li a #service_Icon {
    stroke: #FFFFFF;
     transition: all 0.5s ease;
}
.overlay nav ul li a #tech_Icon {
    stroke: #FFFFFF;
     transition: all 0.5s ease;
}
.overlay nav ul li a:hover #service_Icon,.overlay nav ul li.active  a #service_Icon{
    stroke: #FF9700;
}
.overlay nav ul li a:hover #tech_Icon,.overlay nav ul li.active a #tech_Icon{
    stroke: #FF9700;
}
/* menu */
.demo-wrap {
    margin: 40px 0;
    transition: all 0.5s ease;
}
.demo-wrap .client-login{
    color: #fff;
}
.demo-wrap .client-login:hover{
    text-decoration: none;
}
.heading-3.abt-des2{
    margin-top: 10px;
    color: #1E7ED4 ;
    font-size: 16px;
}
@media screen and (max-width: 767px) {}

@media screen and (min-width: 480px) and (max-width: 560px) {}

@media screen and (min-width: 561px) and (max-width: 640px) {}

@media screen and (min-width: 768px) and (max-width: 991px) {}

@media screen and (min-width: 992px) and (max-width: 1024px) {}

