/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}


/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}


/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}


/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}


/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}


/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important;
        /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }
    a,
    a:visited {
        text-decoration: underline;
    }
    a[href]:after {
        content: " (" attr(href) ")";
    }
    abbr[title]:after {
        content: " (" attr(title) ")";
    }
    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }
    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */
    thead {
        display: table-header-group;
    }
    tr,
    img {
        page-break-inside: avoid;
    }
    img {
        max-width: 100% !important;
    }
    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }
    h2,
    h3 {
        page-break-after: avoid;
    }
}


/* ==========================================================================
   custom styles
   ========================================================================== */

body {
    color: rgba(35, 40, 56, 0.7) font-size: 16px;
    line-height: 1.4;
    font-family: 'Poppins', sans-serif!important;
    font-weight: 300;
}


/*********header**********/

.header {
    position: fixed;
    width: 100%;
    transition: all 0.4s ease;
    background: transparent;
    z-index: 9;
    height: 80px;
    padding: 15px 0;
}

.header .navbar {
    min-height: 80px;
    border-bottom: none;
    margin-bottom: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.header.sticky {
    height: 70px;
    padding: 8px 0;
    background: #fff;
    border-bottom: 1px solid #ddd;
}

.header.sticky #phone {
    display: none !important;
}

.header.sticky #email {
    display: none !important;
}

.header.sticky #cl-login {
    display: none !important;
}

.header.sticky .logo {
    width: 90%;
}

.header.sticky .navbar-nav {
    margin: 12px 0;
}

.header .navbar-nav {
    transition: all 0.4s ease;
    margin: 7px 0;
}

#main-menu {
    display: block;
}

.mobile-menu {
    display: none;
}

.header .navbar-nav li a {
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    padding: 10px 15px;
    font-weight: 400;
}

.header .navbar-nav li a span {
    padding-right: 5px;
}

.client-login {
    background: #1D7FCB;
    border-radius: 46px;
    font-size: 18px;
    font-weight: 300;
    padding: 10px 25px;
    transition: all 0.5s ease;
}

.client-login:hover,
.client-login:active,
.client-login:focus {
    background: #1970b3!important;
}

.header .navbar-brand {
    height: auto;
    padding: 4px 10px;
    margin-left: 0!important;
}

.header .navbar-brand .logo {
    width: 160px;
    transition: all 0.4s ease;
}

.header .nav>li>a:focus,
.header .nav>li>a:hover {
    text-decoration: none;
    background-color: transparent;
}


/*********header//**********/


/*********banner**********/

.banner {
    position: relative;
    background: url(../images/home_banner_1.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
    background-position: 0 0;
}

.banner-caption-img {
    position: absolute;
    left: 40px;
    margin-top: 180px;
}

.banner-caption-img img {
    width: auto!important;
}

.banner-text {
    width: 440px;
    margin: -20px auto auto 750px;
}

.banner-content {
    position: absolute;
    top: 34%;
}

.banner-text .title {
    font-size: 44px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 60px;
    white-space: pre;
    font-weight: 300;
}

.zoomInLeft {
    -webkit-animation-name: zoomInLeft;
    animation-name: zoomInLeft;
    -webkit-animation-duration: 10000ms;
    animation-duration: 10000ms;
}

.typed-cursor {
    font-size: 40px;
    color: #fff;
}

.banner-text .type-wrap {
    margin-top: 250px;
}

.banner-text .title strong {
    font-weight: 600;
}

.banner-text .title span {
    color: #FF9700;
}

.banner-text .sub-title {
    font-size: 22px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 50px;
    font-weight: 300;
    margin-top: 0;
}

.banner .flexslider {
    margin: 0!important;
    border: none!important;
}

.li-text {
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    padding: 10px 2px;
    font-weight: 400;
}

.banner .flex-control-nav li {
    margin: 0px 3px;
}

.owl-theme .owl-dots .owl-dot span {
    width: 25px;
    height: 2px;
    background: rgba(216, 216, 216, 0.8);
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 0px;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
    background: #FF9700;
}


/*********banner//**********/


/*********about**********/

.about {
    padding: 80px 0;
    text-align: center;
}

.heading-1 {
    font-weight: 400;
    font-size: 36px;
    color: #232838;
    letter-spacing: 0;
    line-height: 32px;
}

.heading-3 {
    font-weight: 300;
    font-size: 24px;
    color: #232838;
    letter-spacing: 0;
    line-height: 35px;
    margin: 0 0 0px;
}

.our-customers {
    padding: 20px 0;
}

.our-customers .heading-3 {
    font-weight: 400;
}

.un-styled {
    padding: 0;
    margin: 0;
    list-style: none;
}

.our-customers ul li {
    display: inline-block;
    font-size: 18px;
    color: #232838;
    letter-spacing: 0;
    line-height: 14px;
    font-weight: 300;
    padding: 10px 15px;
}

.our-customers ul li span {
    padding-right: 5px;
}

.primary-clr {
    color: #FF9700!important;
    margin-bottom: 30px;
}


/*********about//**********/


/*********feature-list**********/

.features {
    padding: 80px 0;
    background: #F3F3F3;
}

.features .heading-1 {
    text-align: center;
}

.feature-list {
    padding: 40px 0;
}

.feature-list .nav-tabs>li>a {
    border-radius: 0;
    text-align: center;
    border: none;
    border-bottom: solid transparent 2px;
    transition: all 0.5s ease;
    padding: 10px 51.3px;
}

.feature-list .nav-tabs>li.active>a,
.feature-list .nav-tabs>li.active>a:focus,
.feature-list .nav-tabs>li.active>a:hover,
.feature-list .nav-tabs>li>a:hover {
    border: none;
    background: none;
    border-bottom: solid #1E7ED4 2px;
}

.feature-list .nav-tabs>li>a img {
    margin-bottom: 15px;
}

.feature-list .nav-tabs>li>a span {
    display: block;
    font-size: 16px;
    color: #232838;
    letter-spacing: 0;
}

.feature-list .tab-content {
    padding-top: 70px;
}

.features .heading-3 {
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 20px;
}

.tab-details {
    padding: 0 25px;
}

.plain-text {
    font-size: 16px;
    letter-spacing: 0;
    font-weight: 300;
    color: rgba(35, 40, 56, 0.7);
}


/*********feature-list//**********/


/*********technology**********/

.technology {
    padding-top: 80px;
    text-align: center;
    background: #F3F3F3;
}

.custom-arrow-list {
    padding: 20px 0;
    margin-bottom: 0px;
}

.custom-arrow-list:after {
    content: '';
    display: block;
    clear: both;
}

.custom-arrow-list ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.custom-arrow-list ul li {
    width: calc(100%/4);
    position: relative;
    padding: 0 20px;
    float: left;
}

.custom-arrow-list ul li:before {
    content: '';
    position: absolute;
    right: -83px;
    top: 24%;
    width: 166px;
    border-bottom: dashed #232838 1px;
}

.custom-arrow-list ul li:nth-child(3):before {
    top: 24%;
}

.custom-arrow-list ul li:nth-child(2):before {
    top: 24%;
}

.custom-arrow-list ul li:nth-child(1):before {
    top: 24%;
}

.custom-arrow-list ul li:after {
    content: url(../images/arrow.svg);
    position: absolute;
    right: -90px;
    top: 23px;
    width: 173px;
}

.custom-arrow-list ul li:last-child:before,
.custom-arrow-list ul li:last-child:after {
    content: '';
    display: none;
}

.custom-arrow-list ul li span {
    display: inline-block;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: dashed #232838 1px;
    margin-bottom: 10px;
}

.custom-arrow-list ul li span img {
    margin-top: 23px;
}

.custom-arrow-list ul li h6 {
    font-size: 16px;
    color: #232838;
    letter-spacing: 0;
    line-height: 20px;
    font-weight: 400;
}

.custom-arrow-list ul li p {
    font-weight: 300;
    font-size: 14px;
    color: rgba(35, 40, 56, 0.7);
    letter-spacing: 0;
}

.media {
    text-align: left;
    padding: 0 25px;
}


/*********technology//**********/

.footer p {
    font-size: 13px;
    color: rgba(0, 0, 0, .8);
    letter-spacing: 0;
    line-height: 22px;
    text-align: center;
    margin-bottom: 0;
}

#topcontrol {
    border-radius: 10px;
    text-align: center;
    display: inline-block;
    width: 54px;
    height: 54px;
    line-height: 54px;
    border: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border-radius: 10px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}

#topcontrol img {
    position: relative;
}

.media-left {
    padding-right: 30px;
}

.our-services {
    text-align: center;
    padding: 80px 0;
}

.service-list {
    margin-top: 60px;
}

.service-img img {
    width: 100%;
}

.service-details {
    text-align: left;
    padding: 0 25px;
}

.service-details h3 {
    font-weight: 400;
    font-size: 24px;
    color: #232838;
    letter-spacing: 0;
    line-height: 34px;
    margin-top: 0px;
}

.service-details2 {
    text-align: left;
    margin-top: 30px;
    padding: 0 25px;
}

.service-details2 h3 {
    font-weight: 400;
    font-size: 24px;
    color: #232838;
    letter-spacing: 0;
    line-height: 34px;
    margin-top: 0px;
}


/*.service-details h3:before {
    content: url('../images/abstract.svg');
    margin-right: 15px;
}*/


/*.service-details h3:after {
    content: "";
    width: 335px;
    background-color: #FF9700;
    top: 60px;
    left: 45px;
    height: 2px;
    position: absolute;
}*/


/*.service-details2 h3:before {
    content: url('../images/house.svg');
    margin-right: 15px;
}*/


/*.service-details2 h3:after {
    content: "";
    width: 300px;
    background-color: #FF9700;
    bottom: 144px;
    left: 45px;
    height: 2px;
    position: absolute;
}
*/

.service-listing {
    margin-top: 15px;
    padding-left: 0px;
}

.service-listing li {
    font-weight: 300;
    font-size: 14px;
    color: #232838;
    letter-spacing: 0;
    list-style: none;
    background-image: url('../images/Rectangle_Icon.svg') !important;
    background-repeat: no-repeat;
    background-position: 0% 6px;
    padding-left: 15px;
    margin-bottom: 9px;
}

.media-body>p {
    font-size: 24px;
}

.media-body ul {
    padding-left: 0px;
    margin-top: 20px;
}

.media-body ul li {
    list-style: none;
    background-image: none;
    background-repeat: no-repeat;
    background-position: 0% 4px;
    margin-bottom: 10px;
    font-size: 14px;
    color: #232838;
    font-weight: 600;
}

.media-body ul li p {
    margin-bottom: 5px;
    font-weight: 300;
    padding-left: 20px;
    margin-top: 5px;
}

.media-body ul li ul li {
    list-style: none;
    background-image: url('../images/Rectangle_Icon.svg') !important;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-position: 0% 6px;
    padding-left: 15px;
    margin-bottom: 0px;
    font-size: 14px;
    font-weight: 300;
}

.media {
    margin-top: 40px !important;
}

.media-body ul li ul {
    margin-top: 0px !important;
    padding-left: 20px;
}

.map {
    text-align: center;
    padding: 80px 0;
}

.presence h3 {
    font-weight: 400;
    font-size: 36px;
    color: #232838;
    letter-spacing: 0;
    line-height: 50px;
}

.presence h3 span {
    color: #FF9700;
}

.map-img {
    margin-top: 40px;
}


/* .map-img img{
    width: 100% !important;
} */

.footer-links {
    padding: 40px 0;
    background: #222637;
}

.quick-links ul {
    padding-left: 0px;
}

.quick-links ul li {
    display: inline-block;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: 0.06px;
    margin-right: 20px;
}

.quick-links ul li a {
    text-decoration: none;
    color: #FFFFFF !important;
}

.quick-links ul li a:after {
    content: "";
    width: 1px;
    background-color: #fff;
    top: 5px;
    height: 10px;
    position: absolute;
    margin-left: 13px;
}

.quick-links ul li:last-child a:after {
    content: "";
    width: 1px;
    background-color: transparent;
}

.address {
    margin-top: 10px;
}

.address h4 {
    font-weight: 300;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    letter-spacing: 0.06px;
    margin-bottom: 5px;
}

.address p {
    font-weight: 300;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0.06px;
}

.ft-logo {
    text-align: right;
}

.ft-logo ul li {
    display: inline-block;
    margin-right: 20px;
}

.ft-logo ul li:last-child {
    margin-right: 0;
}

.footer-main {
    padding: 20px 0;
    background: #000415;
}

.copyright {
    font-weight: 400;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 0;
    margin-bottom: 0;
}

.footer-main .row .col-md-6:last-child {
    text-align: right;
}

.footer-main a {
    font-weight: 400;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.6);
    letter-spacing: 0;
}

.animated {
    animation-duration: 2s;
    animation-fill-mode: both;
}

.xtra-img {
    float: right;
    width: 48%;
    text-align: right;
}

.tech-xtras:after {
    content: '';
    display: block;
    clear: both;
}


/* Overlay style */

.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #1D7FCB;
    z-index: 999;
}


/* Overlay closing cross */

.overlay .overlay-close {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 20px;
    top: 20px;
    overflow: hidden;
    border: none;
    background: url(../images/close-icon.png) no-repeat center center;
    text-indent: 200%;
    color: transparent;
    outline: none;
    z-index: 100;
}


/* Menu style */

.overlay nav {
    text-align: center;
    position: relative;
    top: 50%;
    height: 60%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.overlay ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    height: 100%;
    position: relative;
}


/* Effects */

.overlay-scale {
    visibility: hidden;
    opacity: 0;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    -webkit-transition: -webkit-transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
    transition: transform 0.2s, opacity 0.2s, visibility 0s 0.2s;
}

.overlay-scale.open {
    visibility: visible;
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.4s, opacity 0.4s;
    transition: transform 0.4s, opacity 0.4s;
}

@media screen and (max-height: 30.5em) {
    .overlay nav {
        height: 70%;
        font-size: 34px;
    }
    .overlay ul li {
        min-height: 34px;
    }
}

.overlay nav ul li {
    display: inline-block;
}

.overlay nav ul {
    padding-top: 100px;
}

.overlay nav ul li a {
    display: inline-block;
    padding: 50px;
    margin-right: -4px;
    border-bottom: 3px solid transparent;
    transition: all 0.5s ease;
}

.overlay nav ul li a:hover,
.overlay nav ul li.active a {
    border-bottom: 3px solid #FF9700;
}

.nav-text {
    display: block;
    font-weight: 400;
    font-size: 18px;
    color: #FFFFFF;
    letter-spacing: 0;
    padding-top: 15px;
    transition: all 0.5s ease;
}

.overlay nav ul li a:hover {
    text-decoration: none;
}

.overlay nav ul li a:hover .nav-text,
.overlay nav ul li.active a .nav-text {
    color: #FF9700 !important;
    text-decoration: none!important;
}

.overlay nav ul li a #about_Icon1,
.overlay nav ul li a #about_Icon2,
.overlay nav ul li a #about_Icon3,
.overlay nav ul li a #about_Icon4 {
    fill: #FFFFFF;
    transition: all 0.5s ease;
}

.overlay nav ul li a #about_Icon5,
.overlay nav ul li a #about_Icon6,
.overlay nav ul li a #about_Icon7,
.overlay nav ul li a #about_Icon7 {
    fill: #FFFFFF;
    transition: all 0.5s ease;
}

.overlay nav ul li a #about_Icon8,
.overlay nav ul li a #about_Icon9,
.overlay nav ul li a #about_Icon10 {
    fill: #FFFFFF;
    transition: all 0.5s ease;
}

.overlay nav ul li a:hover #about_Icon1,
.overlay nav ul li.active a #about_Icon1,
.overlay nav ul li a:hover #about_Icon2,
.overlay nav ul li.active a #about_Icon2,
.overlay nav ul li a:hover #about_Icon3,
.overlay nav ul li.active a #about_Icon3,
.overlay nav ul li a:hover #about_Icon4,
.overlay nav ul li.active a #about_Icon4 {
    fill: #FF9700;
}

.overlay nav ul li a:hover #about_Icon5,
.overlay nav ul li.active a #about_Icon5,
.overlay nav ul li a:hover #about_Icon6,
.overlay nav ul li.active a #about_Icon6,
.overlay nav ul li a:hover #about_Icon7,
.overlay nav ul li.active a #about_Icon7 {
    fill: #FF9700;
}

.overlay nav ul li a:hover #about_Icon8,
.overlay nav ul li.active a #about_Icon8,
.overlay nav ul li a:hover #about_Icon9,
.overlay nav ul li.active a #about_Icon9,
.overlay nav ul li a:hover #about_Icon10,
.overlay nav ul li.active a #about_Icon10 {
    fill: #FF9700;
}

.overlay nav ul li a #about_Icon_stroke {
    stroke: #FFFFFF;
    transition: all 0.5s ease;
}

.overlay nav ul li a:hover #about_Icon_stroke,
.overlay nav ul li.active a #about_Icon_stroke {
    stroke: #FF9700;
}

.overlay nav ul li a #exp_deature {
    fill: #FFFFFF;
    transition: all 0.5s ease;
}

.overlay nav ul li a:hover #exp_deature,
.overlay nav ul li.active a #exp_deature {
    fill: #FF9700;
}

.overlay nav ul li a #service_Icon {
    stroke: #FFFFFF;
    transition: all 0.5s ease;
}

.overlay nav ul li a #tech_Icon {
    stroke: #FFFFFF;
    transition: all 0.5s ease;
}

.overlay nav ul li a:hover #service_Icon,
.overlay nav ul li.active a #service_Icon {
    stroke: #FF9700;
}

.overlay nav ul li a:hover #tech_Icon,
.overlay nav ul li.active a #tech_Icon {
    stroke: #FF9700;
}


/* menu */

.demo-wrap {
    margin: 40px 0;
    transition: all 0.5s ease;
}

.demo-wrap .client-login {
    color: #fff;
}

.demo-wrap .client-login:hover {
    text-decoration: none;
}

.heading-3.abt-des2 {
    margin-top: 10px;
    color: #1E7ED4;
    font-size: 16px;
}

@media screen and (max-width: 767px) {
    .banner-text .title span {
        font-weight: 300;
    }
    .banner-text .title {}
    .title-name {
        font-weight: 600 !important;
    }
    .title-ed {
        color: #fff !important;
    }
    .title-hd {
        font-size: 48px !important;
        font-weight: 600;
    }
    .header.sticky .logo {
        width: 35%;
        margin-left: 15px;
    }
    .header.sticky .navbar-nav {
        margin: 2px 0;
    }
    .header .navbar-nav {
        margin: 2px 0;
    }
    .custom-arrow-list ul li p {
        margin-bottom: 30px;
    }
    .quick-links ul li {
        margin-right: 24px;
    }
    .quick-links ul li:nth-child(4) a::after {
        top: 25px;
    }
    .r-tabs .r-tabs-accordion-title {
        margin-bottom: 30px;
    }
    .r-tabs .r-tabs-accordion-title a span {
        margin-left: 10px;
    }
    .feature-list .tab-content {
        padding-top: 0px;
    }
    #main-menu {
        float: right;
        margin-top: -37px;
        border-top: none;
        box-shadow: none;
    }
    .logo {
        width: 35%;
        margin-left: 15px;
    }
    #phone {
        display: none !important;
    }
    #email {
        display: none !important;
    }
    #cl-login {
        display: none !important;
    }
    #inline-seperate {
        display: block !important;
        margin-top: 55px;
    }
    .map-img img {
        width: 100% !important;
    }
    .separator-container .separator {
        width: 39% !important;
    }
    .margleft {
        margin-left: 4px !important;
    }
    .banner {
        height: 610px;
    }
    .scroll {
        right: 42% !important;
    }
    .header.sticky {
        height: 55px;
    }
    .icon {
        display: none;
    }
    .magnify {
        display: none;
    }
    .gps-signal {
        display: none;
    }
    .banner-text {
        width: 100%;
        margin: 50px 0 auto auto;
    }
    .banner-text .title {
        font-size: 36px;
        line-height: 43px;
    }
    .typed-cursor {
        font-size: 26px;
    }
    .banner-text .type-wrap {
        margin-top: 150px;
    }
    .owl-carousel .item {
        height: 360px;
    }
    .slides-1 {
        background: url(../images/banner.jpg) no-repeat 100% center;
        background-size: cover;
    }
    .slides-2 {
        background: url(../images/home_banner_2.jpg) no-repeat 100% center;
        background-size: cover;
    }
    .slides-3 {
        background: url(../images/home_Banner_3.jpg) no-repeat 100% center;
        background-size: cover;
    }
    .heading-1 {
        font-size: 28px;
    }
    .heading-3 {
        font-size: 20px;
    }
    .our-customers ul {
        margin-top: 10px;
    }
    .our-customers ul li {
        display: block;
        text-align: left;
        width: 80%;
        margin: auto;
    }
    .nav-tabs>li {
        float: none;
    }
    .service-details {
        margin-top: 20px;
        padding: 0 45px;
    }
    .service-details2 {
        padding: 0 45px;
    }
    .custom-arrow-list ul li {
        width: calc(100%/1);
        float: none;
    }
    .custom-arrow-list ul li::before {
        display: none;
    }
    .custom-arrow-list ul li::after {
        display: none;
    }
    .xtra-img {
        float: none;
        padding: 0 15px;
    }
    .overlay ul li {
        display: block;
    }
    .presence h3 {
        font-size: 28px;
        line-height: 38px;
    }
    .ft-logo {
        text-align: center;
    }
    .ft-logo ul {
        padding: 0;
        list-style: none;
        margin: 0;
    }
    .ft-logo ul li {
        width: calc(92%/2);
        margin: 0;
    }
    .ft-logo ul li img {
        width: 100%;
    }
    .ft-logo ul li:first-child {
        margin-right: 5px;
    }
    .copyright {
        text-align: center;
    }
    .tab-details {
        margin-top: 20px;
    }
    .banner .flex-control-nav {
        bottom: 0;
    }
    .about,
    .features,
    .our-services,
    .technology,
    .map {
        padding: 40px 0;
    }
    .media-body>p {
        font-size: 20px;
        line-height: 26px;
    }
    .navbar-toggle .icon-bar {
        background: #fff;
    }
    .mobile-menu {
        display: block;
        float: right;
        margin-top: 12px;
    }
    .mobile-menu ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    .mobile-menu li {
        display: inline-block;
    }
    .mobile-menu li a {
        padding: 0 5px;
    }
    .header .navbar-brand .logo {
        width: 120px;
        transition: all 0.4s ease;
    }
    .overlay nav {
        height: 100%;
        overflow-y: auto;
    }
    .overlay nav ul li a {
        display: block;
        padding: 25px;
    }
    .features .heading-1 {
        line-height: 38px;
    }
    .xtra-img {
        float: none;
        width: 100%;
        text-align: right;
        margin-top: 30px;
    }
    .xtra-img img {
        width: 100%;
    }
    .banner-caption-img {
        display: none;
    }
    .media{
        margin-top: -10px !important;
    }
}

@media screen and (min-width: 380px) and (max-width: 765px) {
    .quick-links ul li:nth-child(4) a::after {
        top: 5px;
    }
}

@media screen and (min-width: 414px) and (max-width: 420px) {
    .quick-links ul li:nth-child(4) a::after {
        top: 25px;
    }
    .header.sticky .logo {
        width: 31%;
        margin-left: 15px;
    }
    .banner-text {
        width: 83%;
        margin: 50px 0 auto auto;
    }
    .our-customers ul li {
        display: block;
        text-align: left;
        width: 60%;
        margin: auto;
    }
}


/*@media screen and (min-width: 480px) and (max-width: 560px) {}

@media screen and (min-width: 561px) and (max-width: 640px) {}*/

@media screen and (min-width: 768px) and (max-width: 991px) {
    .header {
        height: 60px;
    }
    #cl-login {
        display: none !important;
    }
    #email {
        display: none !important;
    }
    #phone {
        display: none !important;
    }
    .nav-tabs>li {
        margin-right: 20px !important;
    }
    .r-tabs .r-tabs-accordion-title {
        margin-bottom: 30px;
    }
    .r-tabs .r-tabs-accordion-title a span {
        margin-left: 10px;
    }
    .feature-list .tab-content {
        padding-top: 0px;
    }
    .map-img img {
        width: 100%;
    }
    .banner-text {
        margin: 0px auto auto 0px;
    }
    .banner-text .title {
        margin-top: 275px;
    }
    .service-details {
        margin-top: 20px;
        padding: 0;
    }
    .service-details2 {
        padding: 0 0;
    }
    .banner-text {
        width: 92%;
    }
    .header .navbar-brand .logo {
        width: 135px;
    }
    .header .navbar-nav li a {
        padding: 10px;
        font-size: 14px;
    }
    #main-menu {
        margin-top: 8px;
    }
    .heading-1 {
        font-size: 32px;
    }
    .heading-3 {
        font-size: 20px;
    }
    .feature-list .nav-tabs>li>a {
        padding: 10px;
    }
    .feature-list .nav-tabs>li>a span {
        font-size: 12px;
    }
    .custom-arrow-list ul li::before {
        content: '';
        position: absolute;
        right: -34px;
        width: 70px;
        border-bottom: dashed #232838 1px;
    }
    .custom-arrow-list ul li:nth-child(3):before {
        top: 60px;
    }
    .custom-arrow-list ul li:nth-child(2):before {
        top: 60px;
    }
    .custom-arrow-list ul li:nth-child(1):before {
        top: 60px;
    }
    .xtra-img {
        float: none;
        width: 100%;
        text-align: center;
    }
    .presence h3 {
        font-size: 28px;
        line-height: 38px;
    }
    .ft-logo {
        text-align: center;
    }
    .ft-logo ul {
        padding: 0;
        list-style: none;
        margin: 0;
    }
    .banner .flex-control-nav {
        bottom: 0;
    }
    .about,
    .features,
    .our-services,
    .technology,
    .map {
        padding: 40px 0;
    }
    .media-body>p {
        font-size: 20px;
        line-height: 26px;
    }
    .features .heading-1 {
        line-height: 38px;
    }
    .overlay nav ul li a {
        padding: 30px;
    }
    .banner-caption-img {
        display: none;
    }
    .icon ul {
        padding-left: 0;
    }
    .icon ul li img {
        width: 80%;
    }
    .icon ul li {
        margin-right: 0 !important;
    }
    .magnify img {
        width: 70%;
    }
    .icon {
        position: absolute;
        top: 0% !important;
        width: 731px !important;
    }
    .banner-content {
        position: absolute;
        top: 30%;
    }
    .margleft {
        margin-left: 6px !important;
    }
}

@media screen and (min-width: 992px) and (max-width: 1024px) {
    .banner-content {
        position: absolute;
        top: 45%;
    }
    .banner-text {
        width: 300px !important;
        margin: -20px auto auto 593px;
    }
    .icon {
        position: absolute;
        top: 0%;
        width: 781px !important;
    }
    .icon ul li img {
        width: 65%;
    }
    .icon ul li {
        margin-right: 0 !important;
    }
    .magnify img {
        width: 60%;
    }
    .magnify {
        top: -55px !important;
    }
    .nav-tabs>li {
        margin-right: 27px !important;
    }
    .service-details2 {
        padding: 0;
    }
    .map-img img {
        width: 100%;
    }
    .banner-text {
        width: 500px;
    }
    .banner-text .title {
        font-size: 38px;
        line-height: 48px;
    }
    .heading-1 {
        font-size: 32px;
    }
    .heading-3 {
        font-size: 20px;
    }
    .feature-list .nav-tabs>li>a {
        padding: 10px 24px;
    }
    .feature-list .nav-tabs>li>a span {
        font-size: 14px;
    }
    .service-details {
        margin-top: 20px;
        padding: 0 0px;
    }
    .custom-arrow-list ul li::before {
        content: '';
        position: absolute;
        right: -64px;
        width: 123px;
        border-bottom: dashed #232838 1px;
    }
    .custom-arrow-list ul li:nth-child(3):before {
        top: 60px;
    }
    .custom-arrow-list ul li:nth-child(2):before {
        top: 60px;
    }
    .custom-arrow-list ul li:nth-child(1):before {
        top: 60px;
    }
    .xtra-img {
        float: none;
        padding: 0 15px;
    }
    .presence h3 {
        font-size: 28px;
        line-height: 38px;
    }
    .ft-logo {
        text-align: center;
    }
    .ft-logo ul {
        padding: 0;
        list-style: none;
        margin: 0;
    }
    .tab-details {
        margin-top: 20px;
    }
    .banner .flex-control-nav {
        bottom: 0;
    }
    .about,
    .features,
    .our-services,
    .technology,
    .map {
        padding: 40px 0;
    }
    .media-body>p {
        font-size: 20px;
        line-height: 26px;
    }
    .features .heading-1 {
        line-height: 38px;
    }
    .overlay nav ul li a {
        padding: 30px;
    }
    .tech-xtras .media-content {
        float: left;
        width: 50%;
    }
    .xtra-img {
        float: right;
        width: 50%;
        text-align: right;
    }
    .xtra-img img {
        width: 100%;
    }
    .banner-caption-img {
        left: 0px;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1365px) {
    .tech-xtras .media-content {
        padding-left: 5%;
        float: left;
        width: 60%;
    }
    .xtra-img {
        float: right;
        width: 40%;
        text-align: right;
    }
    .xtra-img img {
        width: 100%;
    }
}

@media only screen and (min-width: 1366px) {
    .tech-xtras .media-content {
        padding-left: 5%;
        float: left;
        width: 52%;
    }
}

@media only screen and (min-width: 1824px) {
    .tech-xtras .media-content {
        padding-left: 20%;
        width: 52%;
    }
    .xtra-img {
        float: right;
        width: 42%;
        text-align: right;
    }
}

@media screen and (min-width: 480px) and (max-width: 560px) {
    .header.sticky .logo {
        width: 25%;
    }
    .header .logo {
        width: 25%;
    }
}

@media screen and (min-width: 561px) and (max-width: 736px) {
    .header.sticky .logo {
        width: 20%;
    }
    .banner-text {
        width: 58%;
    }
    .header.sticky {
        height: 60px;
    }
    .header .logo {
        width: 20%;
        margin-left: 15px;
    }
}

@media screen and (min-width: 400px) and (max-width: 450px) {
    .header.sticky {
        height: 57px;
    }
    .quick-links ul li {
        margin-right: 35px;
    }
    .service-details {
        padding: 0 65px;
    }
    .service-details2 {
        padding: 0 65px;
    }
    .header.navbar-nav {
        margin: 0px 0;
    }
    .r-tabs .r-tabs-accordion-title {
        margin-bottom: 30px;
        padding: 0 40px;
    }
}

.icon {
    position: absolute;
    top: 0%;
    width: 640px;
}

.header.sticky .icon {}

.icon ul li {
    display: none;
    margin-right: 20px;
}

.magnify {
    position: absolute;
    color: #fff;
    top: -80px;
}

.scroll {
    position: absolute;
    bottom: 2%;
    right: 48%;
}


/* The side navigation menu */

.sidenav {
    height: 100%;
    /* 100% Full-height */
    width: 0;
    /* 0 width - change this with JavaScript */
    position: fixed;
    /* Stay in place */
    z-index: 99;
    /* Stay on top */
    bottom: 0;
    right: 0;
    background-color: #fff;
    border-left: 1px solid #e3e3e3;
    /* Black*/
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 40px;
    /* Place content 60px from the top */
    transition: 0.5s;
    /* 0.5 second transition effect to slide in the sidenav */
}


/* The navigation menu links */

.sidenav a {
    padding: 15px 8px 15px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s;
    width: 300px;
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
    margin-left: 20px;
}


/* When you mouse over the navigation links, change their color */

.sidenav a:hover,
.offcanvas a:focus {
    color: #FF9700;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
    transition: margin-right .5s;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

@media screen and (max-height: 767px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 16px;
    }
}

.menu-ctc {
    padding: 15px 8px 15px 32px !important;
    text-decoration: none;
    font-size: 14px !important;
    color: #818181;
    display: block;
    transition: 0.3s;
    width: 300px;
    text-transform: none !important;
    border-bottom: 1px solid transparent !important;
    margin-left: 20px;
}

.menu-ctc-title {
    padding: 5px 8px 5px 32px !important;
    text-decoration: none;
    font-size: 14px !important;
    color: #818181;
    display: block;
    transition: 0.3s;
    width: 300px;
    text-transform: uppercase !important;
    border-bottom: 1px solid transparent !important;
    margin-left: 20px;
    margin-bottom: 0;
}


/* hamburger */

#nav-icon4 {
    width: 30px;
    height: 20px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

#nav-icon4 span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.header.sticky #nav-icon4 span {
    background: #888;
    -webkit-transition-delay: -0.5s;
    /* Safari */
    transition-delay: -0.5s;
}


/* Icon 4 */

#nav-icon4 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    -webkit-transition-delay: 0.5s;
    /* Safari */
    transition-delay: 0.5s;
}

#nav-icon4 span:nth-child(2) {
    top: 8px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    -webkit-transition-delay: 0.5s;
    /* Safari */
    transition-delay: 0.5s;
}

#nav-icon4 span:nth-child(3) {
    top: 16px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
    -webkit-transition-delay: 0.5s;
    /* Safari */
    transition-delay: 0.5s;
}

#nav-icon4.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -2px;
    left: 8px;
    -webkit-transition-delay: 0.5s;
    /* Safari */
    transition-delay: 0.5s;
}

#nav-icon4.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
    -webkit-transition-delay: 0.5s;
    /* Safari */
    transition-delay: 0.5s;
}

#nav-icon4.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 19px;
    left: 8px;
    -webkit-transition-delay: 0.5s;
    /* Safari */
    transition-delay: 0.5s;
}


/* separator */

.separator-container .separator {
    color: #D3D4D7;
    margin: 15px auto 30px;
    width: 20%;
}

.separator-container .separator.line-separator:before {
    float: left;
}

.separator-container .separator.line-separator:after {
    float: right;
}

.separator-container .separator.line-separator:before,
.separator-container .separator.line-separator:after {
    display: block;
    width: 44%;
    content: " ";
    margin-top: 10px;
    border: 1px solid #D3D4D7;
}

.margleft {
    margin-left: 10px;
}


/* animation */

.start {
    opacity: 0;
}

.fade-in-lazy {
    -webkit-animation: fadeInLazy 1s ease forwards;
    animation: fadeInLazy 1s ease forwards;
}

@-webkit-keyframes fadeInLazy {
    0% {}
    50% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeInLazy {
    0% {}
    50% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeInLazy {
    0% {}
    50% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fadeInLazy {
    0% {}
    50% {
        opacity: 0.7;
    }
    100% {
        opacity: 1;
    }
}

.tab-details p {
    font-weight: 300;
    font-size: 14px;
    color: rgba(35, 40, 56, 0.7);
    letter-spacing: 0;
    margin-bottom: 0;
}

.ft-title {
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
    letter-spacing: 0.06px;
    margin-bottom: 5px;
    margin-right: 10px;
}

.ft-sales p {
    font-weight: 300;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0.06px;
}

.ft-sales p a {
    color: #FFFFFF;
}

.quick-links {
    margin-bottom: 15px;
}

#inline-seperate {
    display: none;
}

.s-logo img {
    width: 145px;
}

.s-logo {
    padding: 15px 8px 25px 32px;
    margin-left: 20px;
}

.s-login a {
    width: 165px;
}

.s-login a {
    margin-bottom: 25px !important;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    padding: 10px 15px;
    font-weight: 400;
    margin-left: 43px;
    text-transform: none;
}

.s-login a:hover {
    color: #fff;
}

.s-login a span {
    padding-right: 5px;
}

.mob-logo {
    width: 60%;
}

.mob-nav li {
    display: inline-block;
}

.mob-nav li a {
    padding: 0 15px !important;
}