/*Some CSS*/
.icon{
	    position: relative;
    margin-top: 180px;
}

.icon ul li{
	display: none;
	margin-right: 50px;
	transition: all 10.5s ease;

}

.magnify{
	position: absolute;
	color: #fff;
	top:-80px;
}
