/*  ============================================================================================= 
 CORK_WEB_01110011 01101000 01100001 01101101 01100101 01100101 01110010_2018 ---------------
============================================================================================== */


/*------------------- FONT-STYLE -------------- */

@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,900');
body {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-size: 16px;
}


/*----------------- //FONT-STYLE -------------- */

.custom-header {
	margin-bottom: 0px;
	position: fixed;
	top: 0;
	z-index: 99;
	width: 100%;
	border-radius: 0;
	background: transparent;
	border: none;
}

.custom-header .navbar-first {
	margin-bottom: 0;
	background-color: #F0F7FC !important;
	border-color: transparent;
	border: none;
	border-radius: 0;
	min-height: 55px;
}

.navbar-first .nav li:first-child a {
	padding-left: 0;
}

.navbar-first .nav li a {
	font-weight: 500;
	font-size: 15px;
	color: #4C4C4C;
	letter-spacing: -0.2px;
}

.navbar-first .nav li a span {
	margin-right: 5px;
}

.navbar-first .navbar-right {
	margin-top: 8px;
}

.navbar-first .navbar-right li {
	margin-left: 10px;
}

.header-btn {
	background: #F0F7FC;
	border: 2px solid #439FE0;
	box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.13);
	border-radius: 2px;
	padding: 7px 15px !important;
	color: #439FE0 !important;
	letter-spacing: -0.2px;
}

.header-btn span {
	margin-right: 10px !important;
}

.header-btn .drop {
	margin-right: 0 !important;
	margin-left: 5px;
}

.custom-header .navbar-second {
	margin-top: 0;
	background-color: #ffffff !important;
}

.custom-header .navbar-second .navbar-brand {
	height: auto;
	margin-left: 15px;
}

.header-btn-menu {
	background: #439FE0;
	box-shadow: 0 2px 0 0 #2584C7;
	border-radius: 3px;
	padding: 10px 10px !important;
	font-weight: 500;
	font-size: 15px !important;
	color: #FFFFFF !important;
	letter-spacing: -0.2px;
	margin-top: 5px;
}

.header-btn-menu:hover,
.header-btn-menu:focus {
	background: #439FE0 !important;
}

.header-btn-menu span {
	margin-right: 10px;
}

.header-btn-menu .drop {
	margin-left: 5px;
	margin-right: 0;
}

.navbar-second .navbar-right {
	margin-top: 22px;
}

.custom-header .navbar-default {
	background-color: #f8f8f8;
	border-color: #e7e7e7;
	border: none;
	border-radius: 0;
}

#header.sticky {
	transition: 0.2s all ease-in-out;
	background: rgba(255, 255, 255, 1);
	border-bottom: 4px solid #EA5E1B;
}


/* -------------------BANNER------------------------ */

.banner {
	margin-top: 150px;
}

.banner .flex-direction-nav a {
	height: 50px;
}

.flex-direction-nav .flex-next {
	right: 5px !important;
}

.flex-direction-nav .flex-prev {
	left: 5px !important;
}

.banner .flex-control-nav {
	top: 150px;
	right: 10px;
	width: auto;
}

.banner .flex-control-nav li {
	display: list-item;
}

.banner .flexslider {
	border: none;
	margin-bottom: 0;
}

.banner .flexslider .slides img {
	height: 100%;
}

.banner .flex-control-paging li a {
	width: 4px;
	height: 49px;
	margin-bottom: 10px;
	background: rgba(20, 0, 0, 0.24);
	cursor: pointer;
}

.banner .flex-control-paging li a.flex-active {
	background: #87C434;
	cursor: default;
	height: 150px;
	transition: all 0.5s ease-in-out;
}

.banner-img1 {
	position: relative;
	background-image: url('../images/banner.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 85vh;
}

.banner-img2 {
	position: relative;
	background-image: url('../images/banner_2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 85vh;
}

.banner-img3 {
	position: relative;
	background-image: url('../images/banner_3.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 85vh;
}

.banner-text {
	position: absolute;
	top: 25%;
	left: 150px;
	z-index: 999;
	width: 700px;
}

.banner-text h3 {
	font-weight: 300;
	font-size: 40px;
	color: #FFFFFF;
	letter-spacing: -0.33px;
	line-height: 56px;
}

.banner-inhead {
	font-weight: 200 !important;
	font-size: 60px;
	letter-spacing: 0;
	line-height: 67px;
}

.banner-text p {
	font-weight: 300;
	font-size: 20px;
	color: #FFFFFF;
	letter-spacing: -0.17px;
	line-height: 30px;
	margin-bottom: 40px;
}

.banner-intext {
	font-weight: 400;
	color: #30D6C7;
}

.banner-next {
	margin-top: 30px;
}

.banner-next a {
	margin-right: 10px;
}

.banner-two {
	top: 17% !important;
}

.arrow-more {
	margin-left: 10px;
	vertical-align: middle;
}

.btn-custom-banner {
	background: #439FE0;
	box-shadow: 0 2px 0 0 #2584C7;
	border-radius: 3px;
	padding: 15px 60px;
	font-weight: 500;
	font-size: 15px;
	color: #FFFFFF;
	letter-spacing: -0.2px;
	margin-top: 10px;
}

.btn-custom-banner:hover,
.btn-custom-banner:focus {
	text-decoration: none;
	color: #fff;
}

.btn-banner-border {
	background: transparent;
	border: 1px solid #FFFFFF;
	box-shadow: 0 2px 0 0 rgba(255, 255, 255, 0.18);
	border-radius: 3px;
}


/* animation */


/* Wobble Horizontal */

@-webkit-keyframes hvr-wobble-horizontal {
	16.65% {
		-webkit-transform: translateX(8px);
		transform: translateX(8px);
	}
	33.3% {
		-webkit-transform: translateX(-6px);
		transform: translateX(-6px);
	}
	49.95% {
		-webkit-transform: translateX(4px);
		transform: translateX(4px);
	}
	66.6% {
		-webkit-transform: translateX(-2px);
		transform: translateX(-2px);
	}
	83.25% {
		-webkit-transform: translateX(1px);
		transform: translateX(1px);
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

@keyframes hvr-wobble-horizontal {
	16.65% {
		-webkit-transform: translateX(8px);
		transform: translateX(8px);
	}
	33.3% {
		-webkit-transform: translateX(-6px);
		transform: translateX(-6px);
	}
	49.95% {
		-webkit-transform: translateX(4px);
		transform: translateX(4px);
	}
	66.6% {
		-webkit-transform: translateX(-2px);
		transform: translateX(-2px);
	}
	83.25% {
		-webkit-transform: translateX(1px);
		transform: translateX(1px);
	}
	100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}

.hvr-wobble-horizontal {
	display: inline-block;
	vertical-align: middle;
}

.hvr-wobble-horizontal:hover,
.hvr-wobble-horizontal:focus,
.hvr-wobble-horizontal:active {
	-webkit-animation-name: hvr-wobble-horizontal;
	animation-name: hvr-wobble-horizontal;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: ease-in-out;
	animation-timing-function: ease-in-out;
	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;
}


/* --------------------------- */

.section-title {
	font-weight: 500;
	font-size: 28px;
	color: #4C4C4C;
	letter-spacing: -0.23px;
	line-height: 56px;
}

.section-content {
	font-weight: 300;
	font-size: 15px;
	color: #4C4C4C;
	letter-spacing: 0.77px;
	line-height: 26px;
}

.how-can-we-help {
	padding: 40px 0;
	background-image: url('../images/how_can_help.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}


/* ----------------------------------------- */

.our-offering {
	padding: 40px 0;
}

.our-offering .section-title {
	text-align: center;
}

.card {
	overflow-x: hidden;
	overflow-y: hidden;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
	min-height: 300px;
}

.card:hover {
	box-shadow: 0 2px 6px rgba(164, 206, 57, 0.4), 0 2px 6px rgba(164, 206, 57, 0.5);
}

.offering-cards {
	margin-top: 40px;
}

.card-img img {
	width: 100%;
	-webkit-transition: 0.4s ease;
	transition: 0.4s ease;
}

.card:hover .card-img img {
	-webkit-transform: scale(1.03);
	transform: scale(1.03);
}

.card-detail {
	padding: 5px 15px;
}

.card-detail h4 {
	font-weight: 500;
	font-size: 20px;
	color: #4C4C4C;
	letter-spacing: -0.17px;
	line-height: 18px;
}

.card-detail p {
	font-weight: 300;
	font-size: 15px;
	color: #4C4C4C;
	letter-spacing: -0.12px;
	line-height: 21px;
}

.card-next {
	vertical-align: middle;
	text-align: left;
	margin-top: 40px;
}

.card-nxt {
	padding: 10px 10px 6px 8px;
	border-radius: 100%;
	background: transparent;
}

.card:hover .card-nxt {
	padding: 10px 10px 6px 8px;
	border-radius: 100%;
	background: #A4CE39;
	transition: 0.2s all ease-in-out;
}

.card:hover #card-arw {
	fill: #fff;
	stroke: #fff;
}

.margin {
	margin-top: 25px;
}


/* ------------------------------------------ */


.our-partners  {
    padding: 20px 0 80px 0;
    background-image: url(../images/partner-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.our-partners .section-title {
	text-align: center;
	margin-bottom: 50px;
	color: #fff;
}

.partner-logo img {
	width: 100%;
}

.col-half-offset{
    margin-left:3%;
}


/* ------------------------------------------ */

.success-stories {
	padding: 40px 0;
}

.success-story {
	margin-top: 30px;
	    margin-bottom: 10px;
    margin-right: 8px;
}

.success-story:hover {
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.story-img img {
	width: 100%;
}

.story-content h4 {
	font-weight: 500;
	font-size: 20px;
	color: #4C4C4C;
	letter-spacing: -0.17px;
	line-height: 29px;
}

.story-content p {
	font-weight: 300;
	font-size: 15px;
	color: #4C4C4C;
	letter-spacing: -0.12px;
	line-height: 21px;
}

.story-content .line-link {
	font-weight: 400;
	font-size: 15px;
	color: #4C4C4C;
	letter-spacing: -0.12px;
	line-height: 21px;
	margin-bottom: 10px;
}


.story-content a {
	font-weight: 400;
	font-size: 15px;
	color: #439FE0;
	letter-spacing: -0.12px;
	margin-bottom: 20px;
}

.story-content {
	padding: 18px 10px 18px 0;
}

.logo-story {
	margin-top: 8px;
}


/* ---------------------------------------------------- */

.meet-us {
	padding: 40px 0;
	background-image: url('../images/meet_us_bg.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.meet-us .section-title {
	color: #fff;
}

.reasons {
	margin-top: 20px;
	padding-left: 50px;
}

.reasons li {
	    font-weight: 300;
    font-size: 15px;
	color: #FFFFFF;
	letter-spacing: 0.77px;
	line-height: 26px;
	margin-bottom: 25px;
	list-style: none;
}
.reasons li strong{
		font-weight: 500;
	}


.reasons li::before {
	content: url(../images/bullet_icon.png);
	display: inline-block;
	margin-left: -50px;
	width: 50px;
}


/* ------------------------------------------------------ */

.address {
	padding: 40px 0;
	background-image: url('../images/Footer-Background-Image.png');
	background-repeat: no-repeat;
	background-size: cover;
}

.social-contact {
	margin-top: 20px;
}

.social-contact .col-md-6:first-child {
	border-right: 1px solid rgba(151, 151, 151, 0.6);
}

.social {
	text-align: right;
}

.social li {
	display: inline-block;
	list-style: none;
	margin-left: 15px;
	font-weight: 400;
	font-size: 15px;
	color: #4C4C4C;
	letter-spacing: -0.12px;
	line-height: 21px;
	vertical-align: middle;
}

.social li:hover #Facebook1 {
	opacity: 1;
	transition: 0.3s all ease-in-out;
}

.social li:hover #twitter1 {
	opacity: 1;
	transition: 0.3s all ease-in-out;
}

.social li:hover #google {
	opacity: 1;
	transition: 0.3s all ease-in-out;
}

.social li:hover #Linked1 {
	opacity: 1;
	transition: 0.3s all ease-in-out;
}

.mail a {
	font-weight: 400;
	font-size: 15px;
	color: #4C4C4C;
	letter-spacing: -0.12px;
	line-height: 25px;
}

.mail a span {
	margin-right: 10px;
}

.loc-map img {
	width: 100%;
	border: 1px solid #ddd;
}

.address-content h4 {
	font-weight: 500;
	font-size: 15px;
	color: #4C4C4C;
	letter-spacing: -0.12px;
	margin-top: 0;
}

.address-content p {
	font-weight: 300;
	font-size: 15px;
	color: #4C4C4C;
	letter-spacing: -0.12px;
	line-height: 21px;
}

.address-content p span {
	margin-right: 10px;
}

.addr-block {
	margin-top: 40px;
}


/* -------------------------------------- */

.footer {
	background: #232323;
	padding: 10px 0;
}

.footer p {
	font-weight: 300;
	font-size: 12px;
	color: rgba(255, 255, 255, 0.5);
	letter-spacing: -0.15px;
	line-height: 22px;
	text-align: center;
	margin-bottom: 0;
}


/* -------------------------------------- */


/* =====================================
our offering
====================================== */

.inner-banner {
	margin-top: 132px;
	position: relative;
	background-image: url('../images/banner-inner.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 442px;
}

.inner-banner-text {
	position: absolute;
	top: 30%;
}

.inner-banner-text h4 {
	font-weight: 300;
	font-size: 40px;
	color: #FFFFFF;
	letter-spacing: -0.33px;
	line-height: 56px;
}

.inner-banner-text p {
	font-weight: 200;
	font-size: 18px;
	color: #FFFFFF;
	letter-spacing: -0.17px;
	line-height: 56px;
	margin-bottom: 0;
	width: 660px;
}

.menu-strip {
	padding-left: 0;
	margin-bottom: 0;
	background: #fff;
}

.menu-strip li {
	position: relative;
	padding: 28px 0px;
	display: inline-block;
	list-style: none;
	text-align: center;
	    border-bottom: 1px solid #ddd;
}



.menu-strip li:first-child {
	width: 12%;
}

.menu-strip li:nth-child(2) {
	width: 26%;
}

.menu-strip li:nth-child(3) {
	width: 15%;
}


.menu-strip li:nth-child(4) {
	width: 16%;
}

.menu-strip li:nth-child(5) {
	width: 17%;
}

.menu-strip li:nth-child(6) {
	width: 12.2%;
}

.menu-strip li:after {
	content: '';
	display: block;
	clear: both;
}

.menu-strip li.active {
	background: #439FE0;
}


.menu-strip li.active a{
	font-weight: 500;
 
    color: #fff;
    border-radius: 4px;
    letter-spacing: -0.17px;
}

.menu-strip li a {
	padding: 40px 15px;
	    padding: 10px;
	font-weight: 500;
	font-size: 18px;
	color: rgba(76, 76, 76, 0.6);
	letter-spacing: -0.17px;
	line-height: 27px;
}

.menu-strip li a:hover,
.menu-strip li a:focus {
	font-weight: 500;
	text-decoration: none;
	font-size: 18px;
	transition: all 0.3s ease-in-out;
	color: #439FE0;
	letter-spacing: -0.17px;
}

.menu-strip li.active a:hover{
	color: #fff;
}


.about-offering {
	background: #439FE0;
	padding: 40px 0;
}

.about-offering h4 {
	font-weight: 200;
	font-size: 18px;
	color: #fff;
	letter-spacing: 0.77px;
	line-height: 26px;
	text-align: center;
	width: 1000px;
	margin: auto;
}

.about-offering h4 strong {
	font-weight: 500;
	font-size: 18px;
	color: #FFFFFF;
	letter-spacing: 0.77px;
	line-height: 26px;
}

.what-and-who {
	padding: 40px 0;
}

.question-title {
	font-weight: 400;
	font-size: 28px;
	color: #4C4C4C;
	letter-spacing: -0.23px;
	line-height: 32px;
}

.answer-text {
	font-weight: 300;
	font-size: 15px;
	color: #4C4C4C;
	letter-spacing: -0.12px;
	line-height: 21px;
	margin-bottom: 20px;
}

.answer-text strong {
	font-weight: 500;
	font-size: 15px;
	color: #4C4C4C;
	letter-spacing: -0.12px;
	line-height: 21px;
}

.what-and-who .col-md-6 {
	padding: 0 40px 30px 40px;
}

.what-and-who .row {
	border-bottom: 2px solid rgba(67, 159, 224, 0.1);
}

.what-and-who .col-md-6:first-child {
	border-right: 2px solid rgba(67, 159, 224, 0.1);
}

.problem-solving {
	padding: 40px 0;
	background: #F0F7FC;
	z-index: 98;
}

.problem-solving .section-title {
	text-align: center;
	line-height: 28px;
}

.section-subtitle {
	font-weight: 300;
	font-size: 18px;
	color: #4C4C4C;
	letter-spacing: -0.15px;
	line-height: 21px;
	text-align: center;
}

.ps-content {
	margin-top: 60px;
}

.key-points {
	margin-top: 40px;
	list-style: none;
	counter-reset: item;
}

.key-points li {
	counter-increment: item;
	margin-top: 20px;
	margin-bottom: 20px;
}

.key-points li a {
	font-weight: 500;
	font-size: 15px;
	color: #439FE0;
	letter-spacing: -0.12px;
	line-height: 21px;
	position: relative;
}

.key-points:before {
	content: url(../images/vlistline.svg);
	position: absolute;
	left: 13px;
	top: 0;
	/* adjust manually */
}

.key-points li:after {
	content: counter(item);
	background: #439FE0;
	color: white;
	width: 40px;
	height: 40px;
	padding-top: 10px;
	border-radius: 100px;
	text-align: center;
	display: inline-block;
	position: absolute;
	left: 0;
	margin-top: -32px;
	margin-bottom: 10px;
}

#pointa,
#pointb,
#pointc,
#pointd,
#pointe {
	display: none;
}

.imp-offer li {
	font-weight: 300;
	font-size: 15px;
	color: #4C4C4C;
	letter-spacing: -0.12px;
	line-height: 22px;
	margin-bottom: 15px;
}

.imp-offer li::before {
	content: url(../images/listicon.png);
	display: inline-block;
	margin-left: -50px;
	width: 50px;
}

.ul-links {
	padding-left: 0;
}

.ul-links li {
	list-style: none;
	display: inline-block;
	margin-right: 15px;
}

.ul-links li a {
	font-weight: 500;
	font-size: 15px;
	color: #439FE0;
	letter-spacing: -0.12px;
	line-height: 33px;
}

.improve-off .row {
	padding-bottom: 0;
}

.improve-off .col-md-6:first-child {
	padding: 0 40px 118px 40px;
}

.improve-off .answer-text{
	font-weight: 300;
}

.why-epicore {
	padding: 40px 0;
	background: #F0F7FC;
}

.why-epicore .section-title {
	text-align: center;
}

.why-epicore .section-subtitle2 {
	font-weight: 300;
	font-size: 15px;
	color: #4C4C4C;
	letter-spacing: -0.12px;
	line-height: 22px;
	width: 900px;
	margin: auto auto 15px auto;
}

.section-subtitle2 strong{
	font-weight: 500;
}

.why-epicore .col-md-6 {
	padding: 0 40px 20px 40px;
}

.why-epicore .row {
	border-bottom: 2px solid rgba(67, 159, 224, 0.1);
}

.why-epicore .col-md-6:first-child {
	border-right: 2px solid rgba(67, 159, 224, 0.1);
	padding: 0 40px 40px 40px;
}

.ep-flow {
	padding: 40px 0;
	background: #439FE0;
	text-align: center;
}


/* custom arrow */

.custom-arrow-list {
	padding: 20px 0;
	margin-bottom: 0px;
	margin-top: 30px;
}

.custom-arrow-list:after {
	content: '';
	display: block;
	clear: both;
}

.custom-arrow-list ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.custom-arrow-list ul li {
	width: calc(100%/3);
	position: relative;
	padding: 0 20px;
	float: left;
	margin: auto;
}


/* .custom-arrow-list ul li h6:before {
    content: '';
    position: absolute;
    right: -57px;
    top: 140px;
    width: 114px;
    border-bottom: dashed #232838 1px;
}
 */

.custom-arrow-list ul li:nth-child(3):before {
	top: 21%;
}

.custom-arrow-list ul li:nth-child(2):before {
	top: 23%;
}

.custom-arrow-list ul li:nth-child(1):before {
	top: 21%;
}

.custom-arrow-list ul li:first-child h6:after {
	content: url(../images/linearrowdot.svg);
	position: absolute;
	right: -44px;
	top: 87px;
	width: 173px;
}

.custom-arrow-list ul li:nth-child(2) h6:after {
	content: url(../images/rightarrow2.svg);
	position: absolute;
	right: -82px;
	top: 87px;
	width: 173px;
}

.custom-arrow-list ul li:last-child h6:before,
.custom-arrow-list ul li:last-child h6:after {
	content: '';
	display: none !important;
}

.custom-arrow-list ul li span {
	display: inline-block;
	border-radius: 50%;
	margin-bottom: 10px;
}

.custom-arrow-list ul li span img {
	margin-top: 23px;
}

.custom-arrow-list ul li h6 {
	font-weight: 500;
	font-size: 20px;
	color: #FFFFFF;
	letter-spacing: -0.17px;
	line-height: 56px;
}

.custom-arrow-list ul li p {
	font-weight: 300;
	font-size: 15px;
	color: #FFFFFF;
	letter-spacing: -0.12px;
	line-height: 21px;
	width: 280px;
	margin: auto;
}


/* //custom arrow */

.request-consult {
	padding: 40px 0;
	text-align: center;
}

.request-consult h4 {
	font-weight: 300;
	font-size: 18px;
	color: #4C4C4C;
	letter-spacing: -0.17px;
	line-height: 31px;
	margin-bottom: 40px;
}

.btn-custom {
	background: #439FE0;
	box-shadow: 0 2px 0 0 #2584C7;
	border-radius: 3px;
	padding: 15px 60px;
	font-weight: 500;
	font-size: 15px;
	color: #FFFFFF;
}

.btn-custom:hover {
	text-decoration: none;
	color: #fff;
}

.pb-points {
	padding-left: 90px;
	margin: 60px 0;
}

.pb-points:before {
	content: url(../images/line_1.svg);
	position: absolute;
	left: 83px;
	top: 223px;
	/* adjust manually */
}

.pb-points2:before {
	left: 83px;
	top: 245px;
}

.pb-points li:after {
	content: counter(item);
	background: #439FE0;
	color: white;
	width: 40px;
	height: 40px;
	padding-top: 10px;
	border-radius: 100px;
	text-align: center;
	display: inline-block;
	position: absolute;
	left: 70px;
	margin-top: -12px;
	margin-bottom: 10px;
}

.pb-points li {
	counter-increment: item;
	margin-top: 4px;
	margin-bottom: 35px;
	font-weight: 300;
	font-size: 15px;
	color: #4C4C4C;
	letter-spacing: -0.12px;
}

.p-main {
	font-weight: 300;
	font-size: 18px;
	color: #4C4C4C;
	letter-spacing: -0.15px;
	line-height: 24px;
}

.p-main strong {
	font-weight: 500;
	font-size: 18px;
}

.offer-box {
	padding-left: 0;
	text-align: center;
	margin-top: 40px;
}

.offer-box li {
	width: 25%;
	list-style: none;
	display: inline-block;
	text-align: center;
	margin: auto;
	font-weight: 300;
	font-size: 15px;
	color: #4C4C4C;
	letter-spacing: -0.12px;
	line-height: 21px;
}

.offer-box li span {
	display: block;
	background: #439FE0;
	color: white;
	width: 40px;
	height: 40px;
	padding-top: 10px;
	border-radius: 100px;
	text-align: center;
	margin: auto;
	margin-bottom: 15px;
}

.custom-table thead tr th {
	background: #439FE0;
	border-radius: 2px 2px 0 0;
	font-weight: 500;
	font-size: 18px;
	color: #FFFFFF;
	line-height: 24px;
	border-bottom: 0px solid transparent;
	padding: 10px 30px;
}

.custom-table {
	background: #FFFFFF;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.09);
	border-radius: 2px;
}

.custom-table tbody tr td {
	background: #fff;
	font-weight: 300;
	font-size: 15px;
	color: #4C4C4C;
	letter-spacing: -0.12px;
	line-height: 24px;
	padding: 13px 30px;
	border-bottom: 2px solid rgba(67, 159, 224, 0.1);
}

.custom-table tbody tr:last-child td {
	border-bottom: 0px solid rgba(67, 159, 224, 0.1);
}

.margin-top {
	margin-top: 60px;
}

.offer-points h4 {
	font-weight: 500;
	font-size: 18px;
	color: #4C4C4C;
	letter-spacing: -0.15px;
	line-height: 24px;
	text-align: center;
	width: 670px;
	margin: 20px auto 40px auto;
}

.offer-points .col-md-6 {
	padding: 0 40px 20px 40px;
}

.offer-points .row {
	border-bottom: 2px solid rgba(67, 159, 224, 0.1);
}

.offer-points .col-md-6:first-child {
	border-right: 2px solid rgba(67, 159, 224, 0.1);
	padding: 0 40px 42px 40px;
}

.why-rad .section-subtitle {
	color: #fff;
}

.why-rad .section-title {
	text-align: center;
	line-height: 32px;
	color: #fff;
}

.why-rad .custom-arrow-list ul li:first-child h6:after {
	display: none;
}

.why-rad ul li:nth-child(2) h6:after {
	display: none;
}

.analytics-cloud .col-md-6 {
	padding: 0 40px 20px 40px;
}

.analytics-cloud .row {
	border-bottom: 2px solid rgba(67, 159, 224, 0.1);
}

.analytics-cloud .col-md-6:first-child {
	border-right: 2px solid rgba(67, 159, 224, 0.1);
	padding: 0 40px 169px 40px;
}

.how-help .section-title {
	font-weight: 400;
	font-size: 28px;
	color: #FFFFFF;
	letter-spacing: -0.23px;
	line-height: 56px;
}

.how-help .section-subtitle {
	font-weight: 300;
	font-size: 15px;
	color: #FFFFFF;
	letter-spacing: -0.12px;
	line-height: 24px;
}

.how-help .section-subtitle strong {
	font-weight: 500;
	font-size: 15px;
	letter-spacing: -0.12px;
	line-height: 24px;
}

.ms-collaboration .p-main {
	text-align: center;
	margin-top: 30px;
	line-height: 28px;
}

.ms-tools {
	text-align: center;
}

.ms-tool-img {
	margin-top: 30px;
}

.help-business .section-title {
	text-align: center;
}

.ep-imp .question-title {
	line-height: 32px;
	margin-bottom: 20px;
}

.managed-service .question-title {
	line-height: 36px;
	margin-bottom: 20px;
}

.ep-imp .col-md-6:first-child {
	border-right: 2px solid rgba(67, 159, 224, 0.1);
	padding: 0 40px 123px 40px;
}

.contact-banner .inner-banner-text p {
	line-height: 32px;
}

.contact-form {
	padding: 40px 0;
	background: #439FE0;
	color: #fff;
}

.contact-form .section-title {
	color: #fff;
}

.form-group input {
	background: #FFFFFF;
	box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.18);
	border-radius: 2px;
	height: 52px;
}

.form-group select {
	background: #FFFFFF;
	box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.18);
	border-radius: 2px;
	height: 52px;
}

.form-group textarea {
	background: #FFFFFF;
	box-shadow: inset 0 1px 3px 0 rgba(0, 0, 0, 0.18);
	border-radius: 2px;
	height: 133px;
}

.btn-custom-border {
	background: #439FE0;
	border: 2px solid #FFFFFF;
	border-radius: 3px;
	padding: 10px 60px;
	color: #fff;
	text-align: right;
}

.btn-custom-border:hover {
	color: #fff;
	text-decoration: none;
}

.text-right {
	text-align: right;
}

.form-group.text-right {
	margin-top: 9px;
}

.address-card {
	margin-top: 30px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.cu-address {
	padding: 30px 40px 30px 60px;
}

.cu-address h4 {
	font-weight: 500;
	font-size: 20px;
	color: #4C4C4C;
	letter-spacing: -0.17px;
	line-height: 29px;
	margin-top: 0;
}

.cu-address p {
	font-weight: 200;
	font-size: 15px;
	color: #4C4C4C;
	letter-spacing: -0.12px;
	line-height: 25px;
}

.line {
	border: 1px solid #439FE0;
	margin: 15px 0;
}

.cu-contact-dt ul {
	padding-left: 0;
	margin-top: 20px;
}

.cu-contact-dt ul li {
	font-weight: 200;
	font-size: 15px;
	color: #4C4C4C;
	letter-spacing: -0.12px;
	line-height: 21px;
	list-style: none;
	margin-bottom: 10px;
}

.cu-contact-dt ul li span {
	margin-right: 10px;
}

.cu-map {
	text-align: right;
}

.banner-rad {
	background-image: url('../images/RAD_banner.jpg');
}

.banner-ms {
	background-image: url('../images/banner-ms.jpg');
}

.banner-fintech {
	background-image: url('../images/banner_fin.jpg');
}

.banner-how {
	background-image: url('../images/banner-how.jpg');
}

.ds-banner {
	background-image: url('../images/digital_security_banner.jpg');
}

.contact-banner {
	background-image: url('../images/contact_banner.jpg');
}


.privacy-banner {
	margin-top: 152px;
	background-image: url('../images/banner_policy.jpg');
	background-size: auto;
	height: 250px !important;
}


.question-banner {
	background-image: url('../images/have_a_question_banner.jpg');
	background-size: auto;
	height: 256px !important;
}

.question-banner .inner-banner-text {
	top: 17%;
}

.cu-addr .row {
	border-bottom: 0px solid rgba(67, 159, 224, 0.1);
}

.our-story {
	background-image: url('../images/bannerstory.jpg');
}

.eo-banner{
	background-image: url('../images/extended-offer-banner.jpg');
}

.div-content {
	width: 1090px;
	margin: auto;
}

.div-content a{
	display: block;
	margin-bottom: 25px;
}

.pointa h4 {
	line-height: 36px;
}

#help-pointa,
#help-pointb,
#help-pointc,
#help-pointd,
#help-pointe,
#help-pointf,
#help-pointg,
#help-pointh {
	display: none;
}

.help-point .div-content {
	text-align: center;
}

.help-img {
	margin-top: 40px;
}

.custom-menu {
	background: #F0F7FC;
	border: 1px solid rgba(67, 159, 224, 0.23);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
	border-radius: 2px;
	height: 524px;
	padding: 20px 0;
}

.custom-menu li a {
	padding: 15px 40px;
	font-weight: 500;
	font-size: 15px;
	letter-spacing: -0.2px;
	text-transform: capitalize !important;
}

.custom-menu li a:hover {
	background: #E1EAF1;
	color: #439FE0;
}

.navbar-right .custom-menu {
	right: -15px;
	left: auto;
	top: 60px;
}

.off-fintech h4 {
	margin-bottom: 30px;
}

.help-fintech .section-title {
	text-align: center;
	margin-bottom: 50px;
}

.marginb-none {
	margin-bottom: 0px !important;
}

.li-title {
	font-weight: 500;
	font-size: 18px;
	color: #4C4C4C;
	letter-spacing: -0.15px;
	line-height: 54px;
	display: block;
	margin-top: -39px;
	px;
}

.li-text {
	display: block;
	margin-bottom: 20px;
}

.help-fintech .container {
	padding: 0 40px 0px 40px;
}

.subtext {
	font-weight: 400 !important;
	font-size: 20px !important;
	color: #4C4C4C !important;
	letter-spacing: -0.17px !important;
	line-height: 32px !important;
	margin-bottom: 20px !important;
	text-align: left !important;
	width: auto !important;
}

.tb-title td {
	font-weight: 500 !important;
	font-size: 15px;
	color: #4C4C4C;
	letter-spacing: -0.12px;
	line-height: 24px;
}

.product-table {
	margin-top: 30px;
}

.product-table tbody tr td span {
	display: block;
}

.product-table thead tr th {
	padding: 10px 15px;
}

.product-table tbody tr td {
	padding: 10px 15px;
}

.product-table tbody tr td .tb-img {
	margin-top: 5px;
}

.product-table tbody tr td:nth-child(3) {
	border-right: 2px solid rgba(67, 159, 224, 0.1);
}

.description-table {
	margin-top: 10px;
}

.description-table tbody tr td:first-child {
	font-weight: 500;
	text-align: center;
	vertical-align: middle;
}

.banner-how .inner-banner-text p {
	line-height: 32px;
}

.how-we-work .section-title {
	text-align: center;
}

.idea-img {
	text-align: center;
}

.work-flow {
	padding-left: 0;
	margin-top: 50px;
}

.work-flow li {
	display: inline-block;
	list-style: none;
	width: calc(100%/5);
	position: relative;
	padding: 0 20px;
	float: left;
	text-align: center;
	margin-bottom: 60px;
}

.work-flow li span {
	display: block;
	width: 140px;
	margin: 10px auto;
	font-weight: 400;
	font-size: 15px;
	color: #4C4C4C;
	letter-spacing: -0.12px;
}

.work-flow li:before {
	content: url(../images/Rightarrow.svg);
	position: absolute;
	right: -87px;
	top: 78px;
	width: 173px;
}

.work-flow li:after {
	content: '';
	display: block;
	clear: both;
}

.work-flow li:nth-child(5):before {
	display: none;
}

.work-flow li:nth-child(8):before {
	display: none;
}

.imp-flows li:nth-child(5):before {
	display: block;
	content: url(../images/arrow_2.svg);
	position: absolute;
	    right: 108px;
    top: 214px;
	width: 173px;
}

.imp-flows2 li:nth-child(1):before {
	content: url(../images/arrow_left.svg);
	position: absolute;
	     right: -86px;
    top: 79px;
	width: 173px;
}

.imp-flows2 li:nth-child(2):before {
	content: url(../images/arrow_left.svg);
	position: absolute;
	     right: -86px;
    top: 79px;
	width: 173px;
}

.imp-flows2 li:nth-child(3):before {
	content: url(../images/arrow_left.svg);
	position: absolute;
	     right: -86px;
    top: 79px;
	width: 173px;
}

.imp-flows2{
	margin-top: -10px;
}

.imp-flows2 li:nth-child(4):before {
	display: none;
}

.our-story .inner-banner-text p {
	line-height: 32px;
}

.helm-area {
	border-bottom: none !important;
	margin-top: 50px;
}

.helm-img {
	text-align: center;
}

.call-dropdown {
	background: #F0F7FC;
	border: 1px solid rgba(67, 159, 224, 0.23);
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.50);
	border-radius: 2px;
}

.call-dropdown li {
	margin-left: 0 !important;
	margin-bottom: 10px;
}

.call-dropdown li a span {
	margin-right: 10px !important;
}

.call-dropdown li:first-child a {
	padding-left: 20px !important;
}

.ds-who .section-title {
	text-align: center;
}

.center-align {
	text-align: center;
}

.ds-who .answer-text.center-align {
	width: 1100px;
}

.ds-who .p-main {
	text-align: center;
}

.ds-who .offer-box li {
	width: 32%;
}

.ds-offer .section-title {
	margin-bottom: 30px;
}

.ds-offer .row .col-md-4 {
	border-right: 2px solid rgba(67, 159, 224, 0.1);
}

.ds-offer .row .col-md-4:last-child {
	border-right: none;
}

.ds-offer .row .col-md-4:nth-child(2) {
	padding-bottom: 33px;
}

.ds-offer .row h4 {
	font-weight: 500;
	font-size: 18px;
	color: #4C4C4C;
	letter-spacing: -0.15px;
	line-height: 24px;
}

.ds-points li:after {
	content: counter(item);
	background: #439FE0;
	color: white;
	width: 40px;
	height: 40px;
	padding-top: 10px;
	border-radius: 100px;
	text-align: center;
	display: inline-block;
	position: absolute;
	left: 40px;
	margin-top: -26px;
	margin-bottom: 10px;
}

.ds-points:before {
	content: url(../images/line_1ds.svg);
	position: absolute;
	left: 51px;
	top: 101px;
}

.ds-points li:nth-child(1):after {
	margin-top: -40px;
}

.ds-points li:nth-child(2):after {
	margin-top: -36px;
}

.ds-points li:nth-child(4):after {
	margin-top: -5px;
}

.ds-points li:nth-child(5):after {
	margin-top: -5px;
}

.ds-points1 li:after {
	content: counter(item);
	background: #439FE0;
	color: white;
	width: 40px;
	height: 40px;
	padding-top: 10px;
	border-radius: 100px;
	text-align: center;
	display: inline-block;
	position: absolute;
	left: 40px;
	margin-top: -26px;
	margin-bottom: 10px;
}

.ds-points1:before {
	content: url(../images/line_2ds.svg);
	position: absolute;
	left: 51px;
	top: 101px;
}

.ds-points1 li:nth-child(2):after {
	margin-top: -36px;
}

.ds-points1 li:nth-child(3):after {
	margin-top: -36px;
}

.ds-points1 {
	margin-top: 86px;
}

.ds-points2 li:after {
	content: counter(item);
	background: #439FE0;
	color: white;
	width: 40px;
	height: 40px;
	padding-top: 10px;
	border-radius: 100px;
	text-align: center;
	display: inline-block;
	position: absolute;
	left: 40px;
	margin-top: -26px;
	margin-bottom: 10px;
}

.ds-points2:before {
	content: url(../images/line_3ds.svg);
	position: absolute;
	left: 51px;
	top: 85px;
}

.ds-points2 li:nth-child(2):after {
	margin-top: -36px;
}

.ds-points2 li:nth-child(3):after {
	margin-top: -36px;
}

.ds-points2 {
	margin-top: 82px;
}

.border-card {
	border: 1px solid rgba(255, 255, 255, 0.2);
	padding: 20px 10px;
	text-align: center;
	min-height: 394px;
	margin-top: 30px;
}


/* .line{
	border: 1px solid rgba(255,255,255,0.2);
} */

.border-card h4 {
	font-weight: 500;
	font-size: 18px;
	color: #FFFFFF;
	letter-spacing: -0.15px;
	line-height: 24px;
}

.bd-card-text {
	font-weight: 300;
	font-size: 15px;
	color: #FFFFFF;
	letter-spacing: -0.12px;
	line-height: 24px;
	margin-top: 20px;
	margin-bottom: 0;
}

.why-emudra {
	padding: 40px 0;
	background: #F0F7FC;
}

.why-emudra .section-title {
	text-align: center;
}

.why-emudra .question-title {
	font-weight: 500;
	font-size: 20px;
	color: #4C4C4C;
	letter-spacing: -0.17px;
	line-height: 32px;
}

.why-emudra .imp-offer li strong {
	font-weight: 500;
	font-size: 15px;
	color: #4C4C4C;
	letter-spacing: -0.12px;
	line-height: 22px;
}

.why-emudra .row {
	border-bottom: 2px solid rgba(67, 159, 224, 0.1);
}

.why-emudra .col-md-6:first-child {
	border-right: 2px solid rgba(67, 159, 224, 0.1);
	padding-bottom: 156px;
}

.why-emudra .col-md-6 {
	padding: 0 40px 30px 40px;
}

.pship-list {
	padding-left: 130px;
}

.pship-list li {
	margin-bottom: 30px;
}

.pship-list li:first-child::before {
	content: url(../images/G_P_1.png);
	display: inline-block;
	margin-left: -50px;
	width: 50px;
	position: absolute;
	left: 100px;
}

.pship-list li:nth-child(2)::before {
	content: url(../images/G_P_2.png);
	display: inline-block;
	margin-left: -50px;
	width: 50px;
	position: absolute;
	left: 100px;
}

.pship-list li:nth-child(3)::before {
	content: url(../images/G_P_3.png);
	display: inline-block;
	margin-left: -50px;
	width: 50px;
	position: absolute;
	left: 100px;
}

.pship-list li:nth-child(4)::before {
	content: url(../images/G_P_4.png);
	display: inline-block;
	margin-left: -50px;
	width: 50px;
	position: absolute;
	left: 100px;
}

.pship-list li:nth-child(5)::before {
	content: url(../images/G_P_5.png);
	display: inline-block;
	margin-left: -50px;
	width: 50px;
	position: absolute;
	left: 100px;
}

.pship-list li:nth-child(6)::before {
	content: url(../images/G_P_6.png);
	display: inline-block;
	margin-left: -50px;
	width: 50px;
	position: absolute;
	left: 100px;
}

.text-quote {
	font-weight: 300;
	font-size: 20px;
	color: #4C4C4C;
	letter-spacing: -0.17px;
	line-height: 31px;
	text-align: center;
	margin-top: 30px;
}

.b-download {
	position: absolute;
	right: 150px;
	bottom: 0;
}

.bannerbtn {
	padding: 10px 15px;
	font-weight: 500;
	font-size: 18px;
	color: #FFFFFF;
	letter-spacing: -0.24px;
	background: #439FE0;
	border-radius: 3px 3px 0 0;
	margin-left: 20px;
}

.bannerbtn:hover,
.bannerbtn:focus {
	color: #fff;
}

.bannerbtn span {
	margin-left: 10px;
}

.modal-title {
	text-align: center;
	font-weight: 500;
	font-size: 18px;
	color: #4C4C4C;
	letter-spacing: -0.24px;
}

.modal-header {
	background: #D9E7F2;
	border-radius: 3px 3px 0 0;
}

.modal-body p {
	font-weight: 300;
	font-size: 15px;
	color: #4C4C4C;
	letter-spacing: -0.12px;
	line-height: 21px;
	text-align: center;
}

.modal-body .input-group {
	width: 79%;
	margin: 30px auto;
}

.modal-body .input-group input {
	height: 49px;
	border: 1px solid rgba(151, 151, 151, 0.3);
	border-radius: 3px 0 0 3px;
}

.modal-body .input-group input::placeholder {
	height: 49px;
	color: #bbb;
	font-weight: 300;
}

.modal-body .input-group button {
	padding: 12px 20px;
	background: #4DA9E4;
	border-radius: 0 3px 3px 0;
	font-weight: 500;
	font-size: 18px;
	color: #FFFFFF;
	letter-spacing: -0.24px;
	border: none;
}

.close {
	opacity: 0.7;
}

.close:focus {
	outline: none;
}


/*------------ mob-menu------------ */

.custom-mobile-header {
	display: none;
	padding: 10px 0;
	margin-bottom: 0px;
	position: fixed;
	top: 0;
	z-index: 99;
	width: 100%;
	border-radius: 0;
	background: #fff;
	border: none;
}

.clear {
	clear: both;
}

.m-logo {
	float: left;
	width: 30%;
}

.m-menu {
	float: right;
	width: 70%;
	text-align: right;
	margin-top: 15px;
}

.m-menu ul {
	padding-left: 0;
	margin-bottom: 0;
}

.m-menu ul li {
	list-style: none;
	margin-right: 5px;
	display: inline-block;
}

.m-menu ul li a {
	padding: 12px;
}

.m-menu ul li:last-child {
	margin-right: 0;
}

.custom-drops {
	padding: 20px;
	background: #F0F7FC;
	position: fixed;
	top: 70px;
	z-index: 99;
	width: 100%;
	margin: auto;
	text-align: center;
	display: none;
	transition: 0.5s all ease-in-out;
}

.dot-menu ul {
	padding-left: 0;
	margin-bottom: 0;
}

.dot-menu ul li {
	display: inline-block;
	list-style: none;
	margin-right: 40px;
}

.dot-menu ul li:last-child {
	margin-right: 0;
}

.m-menu .dropdown-menu {
	top: 43px;
	right: -15px !important;
	left: auto;
	background: #F0F7FC;
	box-shadow: -2px 5px 4px 2px rgba(0, 0, 0, 0.20);
}

.lc-map iframe {
	width: 110px;
	height: 110px;
}

.footer .social {
	margin-bottom: 0;
	padding-left: 0;
	display: inline-block;
}

.footer .col-md-4 p {
	text-align: right;
}

.offer-section .section-title {
	font-weight: 500 !important;
	font-size: 28px !important;
	color: #4C4C4C !important;
	letter-spacing: -0.23px !important;
	line-height: 56px !important;
}

.margintp {
	margin-top: 15px;
}

.full-width {
	width: 115%;
	padding: 10px 94px;
}

#overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.9);
	z-index: 2;
	cursor: pointer;
}

.request-panel {
	position: fixed;
	width: 100%;
	top: 55px;
	z-index: 999;
	display: none;
}

#request-panel .full-width {
	width: 115%;
	padding: 10px 80px;
}

.faq {
	padding: 40px 0;
}

#faq #faq-list {
	padding: 0;
	list-style: none;
}

#faq #faq-list li {
	border-bottom: 1px solid #ddd;
	padding: 0 20px;
}

#faq #faq-list li.active {
	background: #439FE0;
}

#faq #faq-list li.active a {
	color: #fff;
}

#faq #faq-list li.active p {
	color: #fff;
}

#faq #faq-list li.active i {
	color: #fff;
}

#faq #faq-list a {
	padding: 7px 0;
	display: block;
	position: relative;
	font-weight: 400;
	font-size: 16px;
	color: rgba(0, 0, 0, 0.7);
	line-height: 44px;
	padding-right: 20px;
	text-decoration: none;
}

#faq #faq-list i {
	font-size: 24px;
	position: absolute;
	right: 0;
	top: 8px;
}

#faq #faq-list p {
	margin-bottom: 20px;
	font-size: 15px;
	color: rgba(0, 0, 0, 0.6);
	letter-spacing: -0.12px;
	line-height: 25px;
}

@media (max-width: 768px) {
	#faq #faq-list a {
		font-size: 18px;
		line-height: 25px;
	}
	#faq #faq-list i {
		top: 13px;
	}
}

#faq #faq-list a.collapse {
	color: #1dc8cd;
}

#faq #faq-list a.collapsed {
	color: rgba(0, 0, 0, 0.7);
}

#faq #faq-list a.collapsed i::before {
	content: "\f2c7" !important;
}

.inner-banner-text .input-group {
	width: 1150px;
	margin-top: 30px;
}

.inner-banner-text input {
	height: 52px;
	background: #FFFFFF;
	border: 3px solid #439FE0;
	border-radius: 4px;
}

.inner-banner-text button {
	height: 52px;
	padding-left: 40px;
	padding-right: 40px;
	background: #439FE0;
	border: 3px solid #439FE0;
	border-radius: 4px;
	font-weight: 500;
	font-size: 18px;
	color: #FFFFFF;
	letter-spacing: -0.24px;
}

.inner-banner-text button:hover,
.inner-banner-text button:focus {
	background: #439FE0 !important;
	color: #fff;
	border: 3px solid #439FE0;
}

.highlight{
	    color: #439FE0;
}

.answer-text a{
	font-weight: 500;
}


.news{
	padding: 40px 0;
	margin-top: 172px;
}


.news h4{
	text-align: center;
	font-size: 42px;
	color: #4C4C4C;
	font-weight: 200;
	padding: 80px 0 120px 0;
}


.helm-area .answer-text{
	    font-weight: 300;
    font-size: 15px;
    color: #4C4C4C;
    letter-spacing: -0.12px;
    line-height: 21px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.helm-area .answer-text strong{
	font-weight: 500;
	 font-size: 15px;
}


#flow-mob{
	display: none;
}

.sitemap{
padding-left: 0;
margin-bottom: 0;
display: inline-block;

}

.sitemap li{
	display: inline-block;
	margin-right: 10px;
	margin-right: 15px;
	position: relative;
}

/* .sitemap li:nth-child(5){
	margin-right: 30px;
	position: relative;

} */

.sitemap li::after{
	content: '';
     width: 0;
    height: 66%;
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 0.2);
    top: 4px;
        right: -11px;
}

.sitemap li a{
font-weight: 500;
font-size: 12px;
color: rgba(255, 255, 255, 0.5);
letter-spacing: -0.15px;
line-height: 22px;
}

.sitemap li a:hover{
	color: rgba(255, 255, 255,1);
	transition: 0.3s all ease-in-out;
}

 .off-menu-mob{
	display: none;
}

.off-menu-mob select{
	width: 100%;
  padding: 15px;
  font-size: 16px;
  border: 1px solid #ccc;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../images/caret-down.svg) 96% / 5% no-repeat #eee;
} 

select::-ms-expand { 
    display: none; /* remove default arrow on ie10 and ie11 */
}

/* target Internet Explorer 9 to undo the custom arrow */
@media screen and (min-width:0\0) {
    select {
        background:none\9;
        padding: 5px\9;
    } 
}



.owl-carousel .owl-item img{
	width: auto;
	margin: auto;
}

.helm-img h4{
	margin-bottom: 5px	;
}

.helm-img p{
	font-size: 14px;
	color: #439FE0;
	margin-bottom: 7px;
}

#helm-lin:hover{
	opacity: 1;
	transition: all 0.23s ease-in-out;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #439FE0;
}

.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot{
	outline: none;
}

.pr-title{
	font-weight: 500;
    font-size: 20px;
    color: #4C4C4C;
    letter-spacing: -0.17px;
    line-height: 29px;
    margin-top: 0;
}

.item .story-img img{
	width: 100% !important;
}

.item .logo-story img{
	margin: 0 !important;
}

.b-download .bannerbtn .arrow-more{
	    margin-left: 4px;
    vertical-align: top;
}


.bg-white{
	background: #fff;
}

.flow-title{
font-weight: 400;
font-size: 28px;
color: #4C4C4C;
letter-spacing: -0.23px;
line-height: 36px;
text-align: center;
margin-top: 60px;
}

.clients{
	padding: 20px 0 80px 0;
    background-image: url(../images/Logo-BG.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin-top: 160px;
}

.clients .row{
	margin-bottom: 40px;
}

.clients .section-title {
	color: #fff;
	text-align: center;
	margin-bottom: 30px;
}

.blue-highlight{
	    font-weight: 500;
    font-size: 15px;
    color: #439FE0;
    letter-spacing: -0.12px;
    line-height: 33px;
}

.alert{
	width: 103.5%;
}





/* ==============================================
MEDIA QUERIES
============================================== */

@media only screen and (max-width: 767px) {
	.request-panel{
		max-height: 510px;
		overflow: auto;
		padding-bottom: 300px;
	}
	.clients {
    padding: 20px 0 20px 0;
    background-image: none;
    background: #439FE0;
    margin-top: 160px;
    height: 100%;
}
	.clients .row {
    margin-bottom: 20px;
    text-align: center;
}
.clients .row .col-md-3 {
    margin-bottom: 20px;
}
.work-flow li:before{
	display: none;
}
	#flow-mob{
	display: block;
}
	#flow-web{
	display: none;
}

	.custom-mobile-header {
		display: block;
	}
	.banner {
		margin-top: 70px;
	}
	.custom-header {
		display: none;
	}
	.navbar-brand img {
		width: 80%;
	}
	.navbar-header .navbar-toggle2 {
		margin-top: 30px;
	}
	.navbar-first .nav li:first-child a {
		padding-left: 15px;
	}
	.header-btn {
		width: 40%;
		margin-bottom: 15px;
	}
	.header-btn-menu {
		width: 100%;
	}
	.custom-menu {
		height: auto;
	}
	.navbar-nav .open .dropdown-menu>li>a {
		line-height: 35px;
	}
	.banner-text {
		width: 100%;
		position: absolute;
		top: 0px;
		left: 0;
		padding: 10px;
	}
	.banner-text h3 {
		font-size: 20px;
		line-height: 30px;
	}
	.banner-text p {
		font-size: 16px;
		line-height: 22px;
		margin-bottom: 10px;
	}
	.banner-img1,
	.banner-img2,
	.banner-img3 {
		height: 50vh
	}
	.banner .flex-control-paging li a.flex-active {
		height: 50px;
	}
	.banner .flex-control-nav {
		top: 80px;
	}
	.banner-next {
		margin-top: 20px;
	}
	.btn-custom-banner {
		padding: 10px 25px;
		font-size: 13px;
	}
	.how-can-we-help {
		padding: 20px 0;
		background-image: none;
		background: #F0F7FC;
	}
	.section-title {
		font-size: 24px !important;
		line-height: 32px !important;
	}
	.section-content {
		font-size: 15px;
		line-height: 22px;
	}
	.our-offering {
		padding: 20px 0;
	}
	.our-offering .section-title {
		text-align: left;
	}
	.offering-cards {
		margin-top: 15px;
	}
	.card {
		margin-bottom: 15px;
	}
	.card-next {
		margin-top: 0;
		padding: 15px 0;
	}
	.our-partners {
		padding: 20px 0;
	}
	.partner-logo img {
		width: 100%;
	}
	.partner-logo {
		text-align: center;
	}
	.success-stories {
		padding: 20px 0;
	}
	.story-content {
		padding: 15px 10px;
	}
	.story-content p {
		font-size: 15px;
	}
	.meet-us {
		padding: 20px 0;
		background-image: none;
		background: #F0F7FC;
		border-bottom: 2px solid #ddd;
	}
	.reasons li {
		font-size: 15px;
		line-height: 22px;
		color: #4C4C4C;
	}
	.reasons li::before {
		content: url(../images/listicon.png);
	}
	.meet-us .section-title {
		color: #4C4C4C;
	}
	.address {
		padding: 20px 0;
	}
	.social {
		text-align: left;
		padding-left: 0;
	}
	.social li {
		margin-left: 0;
		margin-right: 15px;
	}
	.social-contact {
		margin-top: 20px;
	}
	.loc-map img {
		width: auto;
		margin-bottom: 10px;
	}
	.address-content {
		margin-bottom: 20px;
	}
	/* our-story */
	.inner-banner-text h4 {
		font-size: 20px;
		line-height: 30px;
	}
	.inner-banner-text p {
		font-size: 16px;
		line-height: 22px !important;
		width: 95% !important;
	}
	.inner-banner {
		height: 270px;
		margin-top: 70px;
	}
	.inner-banner-text {
		top: 18%;
	}
	.about-offering {
		padding: 30px 0;
	}
	.about-offering h4 {
		width: 100%;
	}
	.about-offering h4 {
		font-size: 16px;
		text-align: left;
	}
	.offer-points h4 {
		width: 100%;
		text-align: left;
		margin: 0 0 15px 0;
	}
	.offer-points .col-md-6:first-child {
		border-right: none;
		padding: 0 15px 0px 15px;
	}
	.offer-points .col-md-6 {
		padding: 0 15px 0px 15px;
	}
	.what-and-who {
		padding: 20px 0;
	}
	.imp-offer li {
		margin-bottom: 10px;
	}
	.p-main {
		font-size: 16px;
		text-align: left !important;
	}
	.reasons {
		margin-top: 0;
	}
	.offer-points .section-title {
		margin-bottom: 40px;
	}
	.helm-area .answer-text {
		text-align: center;
	}
	/* offering */
	.menu-strip li {
		width: 100%;
		display: block;
		padding: 10px 0px;
	}
	.menu-strip li:first-child {
		width: 100%;
	}
	.menu-strip li:nth-child(2) {
		width: 100%;
		padding: 10px 0px;
	}
	.menu-strip li:nth-child(3) {
		width: 100%;
		padding: 10px 0px;
	}
	.menu-strip li:nth-child(4) {
		width: 100%;
	}
	.menu-strip li:nth-child(5) {
		width: 100%;
	}
	.menu-strip li:nth-child(6) {
		width: 100%;
	}
	.menu-strip li a {
		padding: 10px;
		text-align: center;
		font-size: 16px;
	}
	.menu-strip li a:hover {
		font-size: 16px;
	}
	.menu-strip li.active a {
		font-size: 16px;
	}
	.about-offering h4 strong {
		font-size: 16px;
	}
	.what-and-who .col-md-6:first-child {
		border-right: none;
	}
	.what-and-who .col-md-6 {
		padding: 0 15px 10px 15px;
	}
	.question-title {
		font-size: 24px;
	}
	.answer-text {
		margin-bottom: 10px;
	}
	.what-and-who .row {
		border-bottom: none;
	}
	.problem-solving .section-title {
		text-align: left;
	}
	.problem-solving {
		padding: 20px 0;
	}
	.section-subtitle {
		font-size: 16px;
		text-align: left;
	}
	.ps-content {
		margin-top: 10px;
		padding: 0 10px;
	}
	.key-points::before {
		display: none;
	}
	.key-points li::after {
		margin-top: -55px;
	}
	.ps-img img {
		width: 100%;
	}
	.improve-off .col-md-6:first-child {
		padding: 0 15px 10px 15px;
	}
	.div-content {
		width: 100%;
	}
	.pointa h4 {
		line-height: 32px;
	}
	.help-img img {
		width: 100%;
	}
	.why-epicore {
		padding: 20px 0;
	}
	.why-epicore .section-title {
		text-align: left;
	}
	.why-epicore .section-subtitle2 {
		width: 100%;
	}
	.why-epicore .col-md-6:first-child {
		border-right: none;
		padding: 0 15px 0px 15px;
	}
	.why-epicore .col-md-6 {
		padding: 0 15px 0px 15px;
	}
	.why-epicore .row {
		border-bottom: none;
	}
	.custom-arrow-list ul li {
		width: 100%;
		margin-bottom: 20px;
	}
	.ep-flow {
		padding: 20px 0;
	}
	.custom-arrow-list ul li:first-child h6::after {
		display: none;
	}
	.custom-arrow-list ul li:nth-child(2) h6::after {
		display: none;
	}
	.custom-arrow-list ul li h6 {
		line-height: 22px;
	}
	.request-consult h4 {
		font-size: 16px;
		text-align: left;
	}
	.request-consult {
		padding: 20px 0 50px 0;
	}
	.btn-custom {
		padding: 15px 47px;
	}
	.pb-points {
		margin: 30px 0;
		padding-left: 60px;
	}
	.pb-points li::after {
		left: 20px;
		margin-top: -9px !important;
	}
	.pb-points.pb-points2 li:nth-child(2)::after {
		margin-top: -22px !important;
	}
	.offer-box li {
		width: 100%;
		margin-bottom: 20px;
	}
	.margin-top {
		margin-top: 30px;
	}
	.gr-img {
		text-align: center;
		margin-bottom: 20px;
	}
	.offer-points h4 {
		font-size: 15px;
	}
	.offer-points .row {
		border-bottom: none;
	}
	.ms-tool-img {
		text-align: left;
	}
	.analytics-cloud .col-md-6:first-child {
		border-right: none;
		padding: 0 15px 10px 15px;
	}
	.analytics-cloud .col-md-6 {
		padding: 0 15px 10px 15px;
	}
	.help-business .section-title {
		text-align: left;
	}
	.how-help .section-title {
		text-align: left;
	}
	.ep-imp .col-md-6:first-child {
		padding: 0 15px 10px 15px;
	}
	.analytics-cloud .row {
		border-bottom: none;
	}
	.help-fintech .section-title {
		text-align: left;
		margin-bottom: 30px;
	}
	.help-fintech .container {
		padding: 0 15px 0px 15px;
	}
	.subtext {
		font-size: 18px !important;
	}
	.work-flow li {
		width: 100%;
	}
	#bs-navbar-collapse-2 .pre-menu {
		display: block;
	}
	.header-btn-menu .drop {
		float: right;
	}
	.work-flow li::before {
		content: url(../images/arrowdd.svg);
		position: absolute;
		right: 80px;
		top: 225px;
		width: 173px;
	}
	.work-flow li:nth-child(3)::before {
		content: url(../images/arrowdd.svg);
		position: absolute;
		right: 80px;
		top: 204px;
		width: 173px;
	}
	.work-flow li:nth-child(4)::before {
		content: url(../images/arrowdd.svg);
		position: absolute;
		right: 80px;
		top: 225px;
		width: 173px;
	}
	.work-flow li:nth-child(5)::before,
	.work-flow li:nth-child(6)::before,
	.work-flow li:nth-child(7)::before {
		content: url(../images/arrowdd.svg);
		position: absolute;
		right: 80px;
		top: 225px;
		width: 173px;
	}
	.contact-form {
		padding: 20px 0;
	}
	.form-group.text-right {
		text-align: left !important;
	}
	.cu-address {
		padding: 20px 15px;
	}
	.cu-map img {
		width: 100%;
	}
	.ds-who .answer-text.center-align {
		width: 100%;
		text-align: left;
	}
	.ds-who .section-title {
		text-align: left;
	}
	.ds-who .offer-box li {
		width: 100%;
	}
	.center-align {
		text-align: left;
	}
	.ds-points li:nth-child(1)::after {
		margin-top: -40px !important;
	}
	.ds-points li:nth-child(5)::after {
		margin-top: -5px !important;
	}
	.ds-points li:nth-child(2)::after {
		margin-top: -36px !important;
	}
	.ds-points li:nth-child(3)::after {
		margin-top: -20px !important;
	}
	.ds-points li:nth-child(4)::after {
		margin-top: -9px !important;
	}
	.ds-points1 li:nth-child(1)::after {
		margin-top: -20px !important;
	}
	.ds-points1 li:nth-child(2)::after {
		margin-top: -36px !important;
	}
	.ds-points1 li:nth-child(3)::after {
		margin-top: -30px !important;
	}
	.ds-points1 li:nth-child(4)::after {
		margin-top: -20px !important;
	}
	.ds-points2 li:nth-child(1)::after {
		margin-top: -20px !important;
	}
	.ds-points2 li:nth-child(2)::after {
		margin-top: -36px !important;
	}
	.ds-points2 li:nth-child(3)::after {
		margin-top: -30px !important;
	}
	.why-emudra .row {
		border-bottom: none;
	}
	.why-emudra .col-md-6:first-child {
		border-right: none;
	}
	.why-emudra .col-md-6 {
		padding: 0 15px 10px 15px;
	}
	.pship-list li:first-child::before {
		left: 71px;
	}
	.pship-list li:nth-child(2)::before {
		left: 71px;
	}
	.pship-list li:nth-child(3)::before {
		left: 71px;
	}
	.pship-list li:nth-child(4)::before {
		left: 71px;
	}
	.pship-list li:nth-child(5)::before {
		left: 71px;
	}
	.pship-list li:nth-child(6)::before {
		left: 71px;
	}
	.text-quote {
		text-align: left;
	}
	.why-emudra {
		padding: 20px 0;
	}
	.b-download {
		right: 0;
	}
	.bannerbtn {
		padding: 10px 15px;
	}
	.modal-body .input-group {
		width: 100%;
	}
	.banner-next {
		margin-top: 0;
	}
	.banner-next a {
		display: block;
		width: 75%;
	}
	.address-content p {
		margin-bottom: 5px;
	}
	.loc-map {
		margin-top: 10px;
	}
	.footer .social {
		margin-top: 10px;
		text-align: center;
		margin-bottom: 5px;
	}
	.request-panel .contact-form {
		padding: 0;
	}
	.margintp {
		margin-top: 0;
	}
	.request-panel .contact-form .form-group input {
		height: 40px;
	}
	.request-panel .contact-form .form-group select {
		height: 40px;
	}
	.request-panel .contact-form .form-group textarea {
		height: 80px;
	}
	#request-panel .full-width {
		width: 100%;
	}
	.full-width {
		width: 100%;
	}
	.request-panel {
		top: 133px;
	}
	.request-panel .section-title {
		font-size: 20px !important;
		line-height: 32px !important;
	}
	.inner-banner-text .input-group {
		width: 100%;
		margin-top: 30px;
	}
	.inner-banner-text button {
		padding-left: 5px;
		padding-right: 5px;
	}
	#faq-list {
		margin-top: 30px;
	}
	.faq {
		padding: 20px 0;
	}
	.m-menu .call-dropdown li:first-child a {
		padding-left: 12px !important;
	}
	.menu-strip li.active a span {
    display: none;
}

.menu-strip li:nth-child(3):hover a span {
	display: none;
}

.menu-strip li:nth-child(2):hover a span {
display: none;
}
.col-half-offset{
    margin-left:0;
    margin-bottom: 20px;
}
 .off-menu-mob{
	display: block;
}
.menu-strip{
	display: none;
} 
.footer .col-md-4 p {
    text-align: left;
}
.sitemap{
	margin-bottom: 5px;
}
}