.font-style
{
padding:20px;
}
.font-style .desc-title
{
font-size:40px;

}
.font-style .desc-title p
{
margin-bottom:20px;
color:#046567;
}
.font-style .panel
{
padding:10px;
}
.font-style .banner-text
{
position:static;
}
.trading-platform p
{
padding:15px;
}
.font-style .callback-request h1
{
text-align:left;
}
.font-style .sub-heading
{
text-align:center;
}
.font-style .careers
{
margin:0;
text-align:left;
}
.font-style .careers h1
{
text-align:left;
}
.font-style .valuation-content h4
{
text-align:left;
}
.font-style .goal-text p {
text-align:left;
}
.font-style .sip-bubble {
    position:static;
}
.font-style .bubble {
position:static;
}
.font-style .affix {
    position: static;
}
.font-style .vertical-floating-menu
{
position:static;
}
.font-style .site-links
{
    background-color: #000b1c;
		padding:20px;
}
.font-style .stock-market {
    margin-top: 0px;
		  background-color: #000b1c;
		padding:20px;
}
.font-style .disclaimer  {
		  background-color: #000b1c;
			padding:20px;
}
.font-style .company-registration-details  {
		  background-color: #000b1c;
			padding:20px;
}
.font-style .footer-links  {
		  background-color: #000b1c;
			padding:20px;
}
.font-style .copyright  {
		  background-color: #000b1c;
			padding:20px;
			float:left;
}
.font-style .more-news {
    margin-top: 0px;
    text-align: left;
}