/* ==========================================================================
Author's custom styles
========================================================================== */

@font-face {
	font-family: 'Brandon Text';
	src: url('../fonts/Brandon Text Font/HVD Fonts - BrandonText-Thin.otf');
	font-weight: 200;
	font-style: thin;
}

@font-face {
	font-family: 'Brandon Text';
	src: url('../fonts/Brandon Text Font/HVD Fonts - BrandonText-Light.otf');
	font-weight: 300;
	font-style: thin;
}

@font-face {
	font-family: 'Brandon Text';
	src: url('../fonts/Brandon Text Font/HVD Fonts - BrandonText-Regular.otf');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Brandon Text';
	src: url('../fonts/Brandon Text Font/HVD Fonts - BrandonText-Medium.otf');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Brandon Text';
	src: url('../fonts/Brandon Text Font/HVD Fonts - BrandonText-Bold.otf');
	font-weight: 600;
	font-style: normal;
}

body,
html {
	color: #000 !important;
	font-size: 16px !important;
	line-height: 1.4 !important;
	font-family: 'Brandon Text', sans-serif !important;
	font-weight: 400 !important;
}

a:focus {
	outline: none;
}


/* header */

#myMenu .container {
	position: relative;
}

.custom-header .modal-dialog {
	position: absolute;
	top: 93px;
	right: 0;
	margin: 0;
}

.custom-header .modal-dialog {
	width: 470px;
}

.custom-header .modal-content {
	border-radius: 0px;
	background-color: #543E6A;
	box-shadow: none;
	border: none;
}

.custom-header .modal-header {
	border-bottom: none;
	margin-bottom: 40px;
	padding-top: 30px;
	padding-right: 40px;
}

.custom-header .modal-body {
	padding: 0;
}

.custom-header .modal-dialog .modal-backdrop.in {
	opacity: 0.9 !important;
}

.menu-items {
	padding-left: 0;
	text-align: left;
}

.menu-items li a {
	font-weight: 400;
	font-size: 24px;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 63px;
}

.menu-items li {
	list-style: none;
	padding-left: 60px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.menu-items li:hover {
	background: #363636;
}

.menu-items li a:hover {
	text-decoration: none;
}

.arrow_box3 {
	position: relative;
	background: #543E6A;
	border: 1px solid rgba(0, 0, 0, .2);
}

.arrow_box3:after {
	bottom: 100%;
	left: 63%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box3:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #543E6A;
	border-width: 14px;
	margin-left: 70px;
}

.modal-contact {
	padding: 40px;
}

.modal-contact .section-title {
	color: #fff;
	margin-bottom: 30px;
}

.modal-contact input {
	width: 100%;
}

.modal-contact textarea {
	width: 100%;
}

.modal-contact .bar {
	width: 100%;
}

.navbar-default.active {
	background: rgba(84, 62, 106, 1) !important;
	transition: all 0.3s ease-in-out;
	-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

.custom-header .navbar {
	margin-bottom: 0px;
	min-height: 100px;
}

.navbar-brand img {
	width: 100%;
}

.navbar-nav li img {
	padding-top: 24px;
}

.navbar-default {
	background-color: transparent !important;
	border-color: transparent !important;
}

.banner .flex-direction-nav a {
	height: 50px;
}

.flex-direction-nav .flex-next {
	right: 5px !important;
}

.flex-direction-nav .flex-prev {
	left: 5px !important;
}

.banner .flex-control-nav {
	top: 200px;
	right: 10px;
	width: auto;
}

.banner .flex-control-nav li {
	display: list-item;
}

.banner .flexslider {
	border: none;
}

.banner .flexslider .slides img {
	height: 100%;
}

.banner .flex-control-paging li a {
	width: 3px;
	height: 49px;
	margin-bottom: 10px;
	background: rgba(255, 255, 255, 0.4);
	cursor: pointer;
}

.banner .flex-control-paging li a.flex-active {
	background: #ffffff;
	cursor: default;
	height: 150px;
	transition: all 0.5s ease-in-out;
}

.banner-img1 {
	position: relative;
	background-image: url('../images/banner.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

.banner-img2 {
	position: relative;
	background-image: url('../images/banner2.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

.banner-img3 {
	position: relative;
	background-image: url('../images/banner_3.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

.banner-img4 {
	position: relative;
	background-image: url('../images/banner_4.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
}

.banner-text {
	position: absolute;
	top: 65%;
	left: 95px;
	z-index: 999;
}

.banner-text h3 {
	font-weight: 400;
	font-size: 60px;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 67px;
}

.banner-text h3:after {
	content: "";
	background: #30D6C7;
	position: absolute;
	top: 0;
	left: 20px;
	height: 3px;
	width: 60px;
}

.banner-inhead {
	font-weight: 200 !important;
	font-size: 60px;
	letter-spacing: 0;
	line-height: 67px;
}

.banner-text p {
	font-weight: 300;
	font-size: 24px;
	color: #FFFFFF;
	letter-spacing: -0.4px;
}

.banner-intext {
	font-weight: 400;
	color: #30D6C7;
}

.banner-next {
	margin-top: 20px;
}

.banner-next img {
	height: auto !important;
	width: auto !important;
}

.banner-two {
	top: 55% !important;
}


/* menu */

.ham-menu nav,
.na-toggle {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.ham-menu nav {
	position: fixed;
	top: 0;
	z-index: 10;
	background-color: #543E6A;
	width: 100%;
	height: 100%;
	text-align: center;
	display: table;
	color: white;
}

.nav-hide {
	display: none !important;
}

.na-toggle {
	width: 45px;
	height: 45px;
	z-index: 20;
	cursor: pointer;
	padding: 42px 0 !important;
	margin-left: 15px;
	z-index: 99;
}

.bar1,
.bar2,
.bar3 {
	width: 65%;
	height: 2px;
	margin-bottom: 5px;
	background-color: rgba(255, 255, 255, 0.8);
	transition: all 0.3s ease-in-out;
	display: block;
}

.navbar-on .bar1,
.navbar-on .bar2,
.navbar-on .bar3 {
	background-color: white;
}

.navbar-on .bar1 {
	transform-origin: 20% 40%;
	transform: rotate(45deg);
}

.navbar-on .bar3 {
	transform-origin: 10% 40%;
	transform: rotate(-45deg);
}

.navbar-on .bar2 {
	background-color: transparent;
}

.ham-menu nav ul li {
	display: inline-block;
	padding: 50px;
	margin-right: 60px;
}

.ham-menu nav ul li:last-child {
	margin-right: 0px;
}

.ham-menu nav ul {
	padding-top: 80px;
	width: 1100px;
	margin: auto;
}

.nav-text {
	display: block;
	font-weight: 400;
	font-size: 18px;
	color: #FFFFFF;
	letter-spacing: 0;
	padding-top: 15px;
}

.ham-menu nav ul li a:hover {
	text-decoration: none;
}

.ham-menu nav ul li a:hover .nav-text {
	color: #30D6C7 !important;
	text-decoration: none;
}

.menu-logo {
	text-align: left;
	padding: 15px 15px !important;
}


/* menu */

.ham-menu nav ul li a:hover #icon-hvr {
	stroke: #30D6C7;
}

.ham-menu nav ul li a:hover #icon-hvr2 {
	fill: #30D6C7;
}

.ham-menu nav ul li a:hover #icon-hvr3 {
	fill: #30D6C7;
	stroke: #543E6A;
}


/* our strength */

.section-title {
	font-weight: 500;
	font-size: 36px;
	color: rgba(0, 0, 0, 0.8);
	letter-spacing: -0.17px;
	line-height: 24px;
}

.strength-quote {
	font-weight: 300;
	font-size: 36px;
	color: #000000;
	line-height: 44px;
	text-align: right;
}

.strenth-style {
	font-weight: 500;
	font-size: 40px;
	color: #543E6A;
	letter-spacing: 0;
	line-height: 47px;
}

.our-strength {
	padding-bottom: 40px;
}


/* success story */

.success-story {
	background-image: url('../images/team_bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.success-story-txt {
	width: 500px;
}

.success-text {
	padding-top: 80px;
	padding-bottom: 80px;
	float: right;
}

.success-story-img img {
	width: 100%;
}

.success-story-txt h4 {
	font-weight: 500;
	font-size: 24px;
	color: #30D6C7;
	letter-spacing: 0;
	line-height: 32px;
}

.success-story-txt p {
	font-weight: 200;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0;
	margin-top: 40px;
	margin-bottom: 50px;
	letter-spacing: 1px;
}

.success-story .row {
	margin-right: 0px !important;
}

.success-story .col-md-8 {
	padding-right: 0px;
}

.success-story .col-md-4 {
	padding-top: 90px;
}


/* our division */

.our-division {
	padding-top: 70px;
	padding-bottom: 50px;
}

.division-title {
	text-align: center;
}

.section-subtitle {
	font-weight: 300;
	font-size: 24px;
	color: #000000;
	letter-spacing: 0;
	margin-top: 15px;
}

.division-list {
	margin-top: 70px;
}

.division-text h4 {
	font-weight: 500;
	font-size: 24px;
	color: rgba(0, 0, 0, 0.8);
	letter-spacing: -0.11px;
	line-height: 24px;
}

.division-text p {
	font-weight: 400;
	font-size: 16px;
	color: #4C4C4C;
	letter-spacing: 0;
}


/* what-we-do */

.what-we-do {
	background: #543E6A;
	padding-top: 60px;
}

.what-we-do .section-title {
	color: #ffffff !important;
	margin-top: 0px;
}

.do-quote {
	font-weight: 300;
	font-size: 24px;
	color: #FFFFFF;
	letter-spacing: 0;
}

.we-do-next {
	text-align: right;
}


/* images */

.clear {
	clear: both;
}

.do-list-images {
	margin-top: 40px;
}

.we-do-list {
	position: relative;
	width: 50%;
	float: left;
}

.image {
	display: block;
	width: 100%;
	height: auto;
	position: relative;
}

.overlay {
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.8);
	overflow: hidden;
	width: 0;
	height: 100%;
	transition: .5s ease-in;
}

.we-do-list:hover .overlay {
	width: 50%;
}

.we-do-list:hover .do-list-head {
	visibility: hidden;
	opacity: 0.4;
	transition: visibility 0.4s ease-in-out, opacity 0.5s ease-in;
}

.text {
	position: absolute;
	overflow: hidden;
	padding-top: 80px;
	padding-left: 40px;
	padding-right: 40px;
	width: 350px;
}

.panel-title {
	font-weight: 500;
	font-size: 24px;
	color: rgba(0, 0, 0, 0.8);
	letter-spacing: -0.11px;
	line-height: 24px;
	margin-top: 0px;
}

.panel-title:after {
	content: "";
	background: #30D6C7;
	position: absolute;
	top: 70px;
	left: 39px;
	height: 3px;
	width: 40px;
}

.panel-text {
	font-weight: 400;
	font-size: 16px;
	color: #4C4C4C;
	letter-spacing: 0;
	margin-top: 25px;
}

.part-two {
	margin-top: 0px;
}

.do-list-head {
	position: absolute;
	bottom: 60px;
	left: 100px;
	font-weight: 500;
	font-size: 24px;
	color: #FFFFFF;
	letter-spacing: -0.11px;
	line-height: 24px;
}

.do-list-head:after {
	content: "";
	background: #30D6C7;
	position: absolute;
	top: -11px;
	left: 3px;
	height: 3px;
	width: 40px;
}


/* What-our-client */

.what-our-client {
	padding-top: 60px;
	padding-bottom: 80px;
	min-height: 640px;
}

.clients li {
	list-style: none;
	display: inline-block;
	vertical-align: bottom;
}

.clients li img {
	-webkit-filter: grayscale(100%);
	/* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
}

.clients li.active img {
	-webkit-filter: grayscale(0%);
	/* Safari 6.0 - 9.0 */
	filter: grayscale(0%);
}

.client-list {
	margin-top: 40px;
}

.client-logo {
	margin-right: 0px;
}

ul.clients {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.clients li {
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 12px;
	cursor: pointer;
}

.client-list .tab-content {
	margin-top: 30px;
	display: none;
	background: none;
	border: 3px solid #30D6C7;
	border-radius: 4px;
	padding: 15px;
}

.client-list .tab-content.active {
	display: inherit;
	transition: all 0.5s ease-in;
}

.client-list .tab-content p {
	font-weight: 300;
	font-size: 24px;
	color: #000000;
	letter-spacing: 0;
	text-align: center;
}

.client-name h4 {
	font-weight: 500;
	font-size: 24px;
	color: #30D6C7;
	letter-spacing: 0;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 0px;
}

.client-name p {
	font-weight: 400;
	font-size: 16px;
	color: rgba(76, 76, 76, 0.8);
	letter-spacing: 0;
}

.arrow_box {
	position: relative;
}

.arrow_box:after {
	bottom: 100%;
	left: 1%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #30D6C6;
	border-width: 14px;
	margin-left: 70px;
}

.box2:after {
	left: 22% !important;
}

.box3:after {
	left: 42% !important;
}

.box4:after {
	left: 62% !important;
}

.box5:after {
	left: 82% !important;
}


/* we represent */

.we-reresent {
	background: #543E6A;
	padding-top: 60px;
	padding-bottom: 90px;
}

.represent-text h3 {
	font-weight: 200;
	font-size: 36px;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 47px;
	margin-top: 0px;
	text-align: right;
}

.represent-highlight {
	font-weight: 500;
	font-size: 48px;
	color: #30D6C7;
	letter-spacing: 0;
	line-height: 47px;
}

.reresent-text .row {
	margin-bottom: 30px;
}

.rp-about p {
	font-weight: 200;
	font-size: 16px;
	color: rgba(255, 255, 255, 0.8);
	letter-spacing: 1px;
}

.rp-about .banner-next {
	text-align: right;
}

.representing-details {
	margin-top: 60px;
}

.rp-info ul li {
	list-style: none;
	font-weight: 300;
	font-size: 80px;
	color: #FFFFFF;
	letter-spacing: 0;
	margin-bottom: 20px;
	padding-right: 124px;
	position: relative;
}

.rp-info ul {
	text-align: right;
}

.rp-info ul:after {
	content: "";
	background: #ffffff;
	position: absolute;
	top: 0px;
	right: 124px;
	height: 423px;
	width: 3px;
}

.info-aftr {
	font-weight: 300;
	font-size: 18px;
	color: #FFFFFF;
	letter-spacing: 0;
	position: absolute;
	top: 31px;
	right: 0;
	text-align: left;
}

.right {
	right: 38px;
}


/* talk-to-us */

.talk-to-us {
	background-image: url('../images/contact_bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.contact-form {
	float: left;
	width: 60%;
	padding-left: 100px;
	padding-top: 60px;
}

.get-in-touch {
	float: left;
	padding-top: 60px;
	padding-left: 40px;
	padding-bottom: 100px;
	width: 40%;
	background: rgba(255, 255, 255, 0.9);
}

.contact-form .section-title {
	color: rgba(255, 255, 255, 0.8);
}

.group {
	position: relative;
	margin-bottom: 35px;
}

input {
	font-weight: 200;
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	display: block;
	width: 90%;
	border: none;
	border-bottom: 1px solid #757575;
	background: transparent;
	color: #fff !important;
}

input:focus {
	outline: none;
}

textarea {
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	display: block;
	width: 90%;
	border: none;
	border-bottom: 1px solid #757575;
	background: transparent;
	max-height: 127px;
	resize: vertical;
	color: #fff !important;
}

textarea:focus {
	outline: none;
}


/* LABEL ======================================= */

label {
	font-weight: 200 !important;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: 0;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
}


/* active state */

input:focus~label,
input:valid~label {
	top: -20px;
	font-size: 14px;
	color: rgba(255, 255, 255, 0.8);
}

textarea:focus~label,
textarea:valid~label {
	top: -20px;
	font-size: 14px;
	color: rgba(255, 255, 255, 0.8);
}


/* BOTTOM BARS ================================= */

.bar {
	position: relative;
	display: block;
	width: 90%;
}

.bar:before,
.bar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: rgba(255, 255, 255, 0.8);
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
}

.bar:before {
	left: 50%;
}

.bar:after {
	right: 50%;
}


/* active state */

input:focus~.bar:before,
input:focus~.bar:after {
	width: 50%;
}

textarea:focus~.bar:before,
textarea:focus~.bar:after {
	width: 50%;
}


/* HIGHLIGHTER ================================== */

.highlight {
	position: absolute;
	height: 60%;
	width: 100px;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}


/* active state */

input:focus~.highlight {
	-webkit-animation: inputHighlighter 0.3s ease;
	-moz-animation: inputHighlighter 0.3s ease;
	animation: inputHighlighter 0.3s ease;
}

textarea:focus~.highlight {
	-webkit-animation: textareaHighlighter 0.3s ease;
	-moz-animation: textareaHighlighter 0.3s ease;
	animation: textareaHighlighter 0.3s ease;
}


/* ANIMATIONS ================ */

@-webkit-keyframes inputHighlighter {
	from {
		background: rgba(255, 255, 255, 0.8);
	}
	to {
		width: 0;
		background: transparent;
	}
}

@-moz-keyframes inputHighlighter {
	from {
		background: rgba(255, 255, 255, 0.8);
	}
	to {
		width: 0;
		background: transparent;
	}
}

@keyframes inputHighlighter {
	from {
		background: rgba(255, 255, 255, 0.8);
	}
	to {
		width: 0;
		background: transparent;
	}
}

@-webkit-keyframes textareaHighlighter {
	from {
		background: rgba(255, 255, 255, 0.8);
	}
	to {
		width: 0;
		background: transparent;
	}
}

@-moz-keyframes textareaHighlighter {
	from {
		background: rgba(255, 255, 255, 0.8);
	}
	to {
		width: 0;
		background: transparent;
	}
}

@keyframes textareaHighlighter {
	from {
		background: rgba(255, 255, 255, 0.8);
	}
	to {
		width: 0;
		background: transparent;
	}
}

.contact-form form {
	margin-top: 40px;
}

.send-button a {
	font-weight: 500;
	font-size: 24px;
	color: rgba(255, 255, 255, 0.8);
	letter-spacing: -0.11px;
	line-height: 24px;
}

.send-button a:hover {
	color: #ffffff;
	transition: all 0.5s ease-in-out;
	text-decoration: none;
}

.send-button a img {
	margin-left: 10px;
}

.address {
	margin-top: 40px;
}

.address p {
	font-weight: 300;
	font-size: 24px;
	color: #000000;
	letter-spacing: 0;
	margin-top: 15px;
}

.call-ph p {
	font-weight: 400;
	font-size: 18px;
	color: #000000;
	letter-spacing: 0;
}

.call-ph h4 {
	font-weight: 500;
	font-size: 24px;
	color: rgba(0, 0, 0, 0.8);
	letter-spacing: -0.11px;
	line-height: 24px;
}

.call-ph {
	margin-top: 30px;
}

.call-email {
	margin-top: 30px;
}

.call-email p {
	font-weight: 400;
	font-size: 18px;
	color: #000000;
	letter-spacing: 0;
}

.call-email h4 {
	font-weight: 300;
	font-size: 24px;
	color: #000000;
	letter-spacing: 0;
}


/* footer */

.footer {
	background: #645B6A;
	padding-top: 60px;
	padding-bottom: 40px;
	text-align: center;
}


/* social icons */

.social {
	position: relative;
	margin-bottom: 15px;
}

.social a {
	position: relative;
	display: inline-block;
	width: 47px;
	height: 47px;
	line-height: 33px;
	color: white;
	border-radius: 100%;
	text-align: center;
	margin-right: 10px;
	font-smoothing: antialiased;
}

.social a i {
	color: #ffffff;
	font-size: 24px;
	margin-top: 10px;
}

.social .ln:hover {
	background: #007bb7;
}

.social .ln:hover i {
	color: #fff;
}

.social .ln:before,
.social .ln:after {
	border: 1px solid rgba(255, 255, 255, 0.5);
}

.social .tw:hover {
	background: #33ccff;
}

.social .tw:hover i {
	color: #fff;
}

.social .tw:before,
.social .tw:after {
	border: 1px solid rgba(255, 255, 255, 0.5);
}

.social .gp:hover {
	background: #BD3518;
}

.social .gp:hover i {
	color: #fff;
}

.social .gp:before,
.social .gp:after {
	border: 1px solid rgba(255, 255, 255, 0.5);
}

.social .fb:hover {
	background: #3B5998;
}

.social .fb:hover i {
	color: #fff;
}

.social .fb:before,
.social .fb:after {
	border: 1px solid rgba(255, 255, 255, 0.5);
}

.social a:before,
.social a:after {
	content: "";
	display: block;
	position: absolute;
	background: transparent;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 50%;
	transition: .3s all;
	border: 3px solid;
}

.social a:hover:after {
	-webkit-transform: scale(1.5);
}

.social a:hover:before {
	-webkit-transform: scale(2);
	transition: .3s all;
	opacity: 0;
}

.footer-text p {
	font-weight: 300;
	font-size: 14px;
	color: rgba(255, 255, 255, 0.6);
	letter-spacing: 1.1px;
	line-height: 20px;
}

.footer-text a {
	color: rgba(255, 255, 255, 0.6);
}

.footer-text a:hover {
	color: rgba(255, 255, 255, 0.8);
	transition: all 0.3s ease-in-out;
}

.share-your-idea {
	background: #30D6C7;
	width: 250px;
	position: fixed;
	bottom: 0%;
	right: 0;
}

.share-your-idea p {
	margin-bottom: 0px !important;
	margin-left: 20px;
	margin-right: 20px;
	font-weight: 500;
	font-size: 18px;
	color: rgba(0, 0, 0, 0.8);
	letter-spacing: -0.08px;
	position: relative;
	padding: 10.5px;
}

.share-img img {
	width: auto;
	padding: 7px 20px;
	background: #645B6A;
	position: absolute;
	top: 0;
	right: -20px;
}


/* who-we-are */

.who-we-are {
	padding-top: 110px;
	background: #543E6A;
}

.global-tech {
	padding-top: 60px;
	padding-bottom: 60px;
}

.global-tech-txt p {
	font-weight: 400;
	font-size: 16px;
	color: rgba(0, 0, 0, 0.8);
	letter-spacing: 0;
}

.mission-vision {
	background: #543E6A;
	padding-top: 80px;
	padding-bottom: 60px;
}

.mission-heading .section-title {
	color: #ffffff;
	margin-top: 0px;
}

.mission-list ul {
	padding-left: 0px;
}

.mission-list ul li {
	font-weight: 200;
	font-size: 24px;
	color: #FFFFFF;
	letter-spacing: 0;
	margin-bottom: 20px;
	padding-left: 35px;
	list-style: none;
	background-image: url('../images/bullet_icon_big.svg') !important;
	background-repeat: no-repeat;
	background-position: 0% 6px;
}

.our-vision {
	margin-top: 60px;
}


/* contact-us */

.contact-us {
	padding-top: 110px;
	background: #543E6A;
}

.tell-us-bg {
	background-image: url('../images/contact_bg2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	padding-left: 30px;
	padding-top: 10px;
}

.tell-us-form h3 {
	font-weight: 200;
	font-size: 36px;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 44px;
	margin-bottom: 20px;
}

.contact-send .group {
	margin-top: 43px;
	margin-bottom: 50px;
}

.tell-us-bg .row .col-md-8 .group textarea {
	max-height: 80px;
	resize: vertical;
}

.contact-us-detail {
	margin-top: 150px;
	padding-left: 10px;
}

.contact-us-detail p {
	font-weight: 300;
	font-size: 24px;
	color: #FFFFFF;
	letter-spacing: 0;
}

.contact-us-detail .call-ph h4 {
	font-weight: 500;
	font-size: 48px;
	color: #30D6C7;
	letter-spacing: -0.23px;
	line-height: 24px;
	margin-bottom: 45px;
}

.contact-us-detail .call-email h4 {
	font-weight: 400;
	font-size: 24px;
	color: #30D6C7;
	letter-spacing: 0;
}

.contact-us-detail .social-icn {
	margin-top: 70px;
}

.countries-address-title {
	padding-top: 80px;
}

.country-address-title h4 {
	font-weight: 500;
	font-size: 24px;
	color: rgba(0, 0, 0, 0.8);
	letter-spacing: 0;
	line-height: 24px;
	margin-top: 0px;
	float: left;
	width: 260px
}

.country-address-title {
	margin-bottom: 20px;
}

.country-flag {
	float: right;
}

.country-address-title h4:after {
	content: "";
	background: #000000;
	position: absolute;
	top: 35px;
	left: 14px;
	height: 3px;
	width: 261px;
}

.countries-address {
	padding-top: 80px;
	padding-bottom: 70px;
}

.cty-address p {
	font-weight: 400;
	font-size: 16px;
	color: rgba(0, 0, 0, 0.8);
	letter-spacing: 0;
}

.cty-contact p {
	font-weight: 400;
	font-size: 16px;
	color: #000000;
	letter-spacing: 0;
	line-height: 22px;
	margin-bottom: 2px;
}

.contact-type {
	font-weight: 500;
	font-size: 16px;
	color: rgba(0, 0, 0, 0.8);
	letter-spacing: 0;
}

.cntry-map {
	margin-top: 50px;
}


/* methodology */

.methodology {
	padding-top: 110px;
	background: #543E6A;
}

.method-flow {
	margin-top: 40px;
}

.flow-diagram img {
	width: 100%;
}

.flow-text {
	margin-top: 13px;
}

.flow-text p {
	font-weight: 300;
	font-size: 24px;
	color: #FFFFFF;
	letter-spacing: 0;
}

.flow-highlight {
	font-weight: 500;
	font-size: 24px;
	color: #30D6C7;
	letter-spacing: 0;
	line-height: 34px;
}

.process-desc {
	padding-top: 60px;
	padding-bottom: 60px;
}

.process-title {
	font-weight: 500;
	font-size: 36px;
	color: rgba(0, 0, 0, 0.8);
	letter-spacing: 0;
	line-height: 24px;
}

.process-subtitle {
	font-weight: 300;
	font-size: 24px;
	color: #000000;
	letter-spacing: 0;
	margin-top: 20px;
}

.process-list {
	margin-top: 10px;
	padding-left: 0px;
}

.process-list li {
	font-weight: 400;
	font-size: 16px;
	color: rgba(0, 0, 0, 0.8);
	letter-spacing: 0;
	line-height: 32px;
	padding-left: 24px;
	list-style: none;
	background-image: url('../images/small_bullet_icon.svg') !important;
	background-repeat: no-repeat;
	background-position: 0% 8px;
}

.uiux-process {
	margin-top: 60px;
}

.list-margin {
	margin-top: 30px;
}

.process-note p {
	font-weight: 500;
	font-size: 24px;
	color: #30D6C7;
	letter-spacing: 0;
}

.beta-testing {
	padding-top: 60px;
	background: #543E6A;
	padding-bottom: 60px;
}

.testing-process .process-title {
	color: #fff;
	line-height: 50px;
}

.test-list {
	margin-top: 30px;
	padding-left: 0px;
}

.test-list li {
	font-weight: 300;
	font-size: 24px;
	color: #FFFFFF;
	letter-spacing: 0;
	padding-left: 35px;
	margin-bottom: 15px;
	list-style: none;
	background-image: url('../images/big_bullet_icon.svg') !important;
	background-repeat: no-repeat;
	background-position: 0% 5px;
}

.beta-testing .process-note {
	margin-top: 30px;
}


/* share-your-idea */

.share-idea {
	padding-top: 110px;
	background: #543E6A;
}

ul.tab-name {
	margin: 0px;
	padding: 0px;
	list-style: none;
	border-bottom: 1px solid rgba(151, 151, 151, 0.8);
}

ul.tab-name li {
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
	margin-right: 100px;
}

ul.tab-name li:last-child {
	margin-right: 0px;
}

ul.tab-name li.active {
	border-bottom: 2px solid #30D6C7;
	transition: all 0.5s ease-in-out;
}

.tab-details {
	display: none;
	padding: 15px;
	margin-top: 30px;
}

.tab-details.active {
	display: inherit;
}

.tab-txt h4 {
	font-weight: 300;
	font-size: 24px;
	color: #FFFFFF;
	letter-spacing: 0;
}

.tab-link {
	margin-right: 80px;
	border-bottom: 2px solid transparent;
}


/****What We Do****/

.inner-banner {
	background: #543e6a;
	height: 350px;
	padding: 120px 0 60px;
}

.main-title {
	font-size: 36px;
	color: #FFFFFF;
	letter-spacing: 0;
	line-height: 50px;
	font-weight: 200;
}

.main-title strong {
	font-size: 44px;
	color: #30d6c7;
	letter-spacing: 0;
	line-height: 50px;
	font-weight: 500;
}

.floating-nav {
	position: fixed;
	right: 0;
	top: 163px;
	z-index: 999;
}

.un-styled-list {
	padding: 0;
	margin: 0;
	list-style: none;
}

.floating-nav ul li {
	margin-bottom: 5px;
}

.floating-nav ul li a {
	display: inline-block;
	background: #30d6c7;
	padding: 12px 16px;
	transition: all 0.5s ease;
}

.floating-nav ul li a:hover {
	background: #55ddd2;
}

.popover {
	background: rgba(100, 91, 106, 0.8)!important;
	border: none!important;
	border-radius: 3px!important;
	font-family: 'Brandon Text'!important;
	font-size: 14px!important;
	color: #FFFFFF!important;
	letter-spacing: -0.07px!important;
	padding: 10px!important;
}

.popover.left>.arrow:after {
	content: " ";
	border-left-color: rgba(100, 91, 106, 0.6)!important;
}

.popover.left>.arrow {
	border-left-color: rgba(100, 91, 106, 0.6)!important;
}

.thumbnail-tab .nav>li {
	width: calc(100% /9);
}

.thumbnail-tab .nav>li a img {
	width: 100%;
}

.thumbnail-tab .nav>li>a {
	border: none;
	border-radius: 0;
	padding: 0;
	margin: 0;
	position: relative;
}

.thumbnail-tab .nav-tabs>li.active>a,
.thumbnail-tab .nav-tabs>li.active>a:hover,
.thumbnail-tab .nav-tabs>li.active>a:focus {
	border: none;
	border-radius: 0;
	padding: 0;
	margin: 0;
}

.thumbnail-tab .nav-tabs {
	border-bottom: none;
}

.thumbnail-tab .nav>li>a .navtab-title {
	position: absolute;
	bottom: 30px;
	left: 20px;
	right: 0;
	font-weight: 500;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: -0.08px;
	line-height: 20px;
	display: block;
	z-index: 2;
	transition: all 0.5s ease;
}

.thumbnail-tab .nav>li>a .navtab-title:before {
	content: '';
	position: absolute;
	background: #fff;
	height: 3px;
	width: 40px;
	top: -10px;
	transition: all 0.5s ease;
}

.thumbnail-tab .nav>li>a .overlay-tab {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(48, 214, 199, 0.8);
	left: 0;
	top: 0;
	transition: all 0.5s ease;
	z-index: 1;
	opacity: 0;
}

.overlay-tab:after {
	content: '';
	display: block;
	position: absolute;
	bottom: -32px;
	left: 40%;
	width: 0;
	height: 0;
	border-color: rgba(48, 214, 199, 0.8) transparent transparent transparent;
	border-style: solid;
	border-width: 16px;
}

.thumbnail-tab .nav>li>a:hover .overlay-tab,
.thumbnail-tab .nav>li.active>a .overlay-tab {
	opacity: 1;
}

.thumbnail-tab .nav>li>a:hover .navtab-title,
.thumbnail-tab .nav>li.active>a .navtab-title {
	color: #000000;
}

.thumbnail-tab .nav>li>a:hover .navtab-title:before,
.thumbnail-tab .nav>li.active>a .navtab-title:before {
	background: #000000;
}

.thumbnail-tab .tab-content .offshore-header .img-responsive {
	width: 100%;
}

.offshore-body {
	padding: 50px 0 0;
}

.heading-1 {
	font-size: 36px;
	color: rgba(0, 0, 0, 0.8);
	letter-spacing: 0;
	line-height: 24px;
	font-weight: 600;
	margin-top: 0;
}

.offshore-body .heading-1 {
	margin-bottom: 30px;
}

.plain-text {
	opacity: 0.8;
	font-size: 16px;
	color: #000000;
	letter-spacing: 0;
}

.heading-2 {
	font-size: 24px;
	color: rgba(0, 0, 0, 1);
	letter-spacing: 0;
	line-height: 29px;
	font-weight: 500;
	margin-top: 0;
}

.heading-2-light {
	font-weight: 300!important;
}

.offshore-body .heading-2 {
	margin: 25px 0;
}

.m-services {
	margin-bottom: 30px;
}

.m-services .division-text h4 {
	font-size: 16px;
	color: rgba(0, 0, 0, 0.8);
	letter-spacing: -0.08px;
	line-height: 18px;
	font-weight: 500;
}

.core-area ul li {
	display: inline-block;
	margin-right: 50px;
}

.core-area ul li img {
	-webkit-filter: grayscale(100%);
	/* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
}

.core-area ul li:last-child {
	margin-right: 0px;
}

.advantages {
	background: #543e6a;
	padding: 80px 0;
}

.advantages .heading-1 {
	color: #fff;
	font-weight: 500;
}

.advantages ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.advantages ul li {
	background: url(../images/bullet_icon_big.svg) no-repeat center left;
	font-size: 24px;
	color: #FFFFFF;
	letter-spacing: 0;
	font-weight: 300;
	padding-left: 35px;
	margin-bottom: 10px;
}

.advantages ul li:last-child {
	margin-bottom: 0;
}

.our-industry {
	text-align: center;
	padding: 50px 0;
}

.our-industry .heading-2 {
	line-height: 30px;
}

.our-industry .division-list {
	text-align: left;
}

.division-list .industry-list {
	padding: 15px;
	transition: all 0.5s ease;
	min-height: 200px;
}

.division-list .industry-list:hover {
	background: #30D6C7;
}

.division-list .industry-list .view-details {
	opacity: 0;
	visibility: hidden;
	transition: all 0.5s ease;
}

.division-list .industry-list:hover .view-details {
	opacity: 1;
	visibility: visible;
}


/*****What We Do******/


/*****Team******/

.team-banner {
	background: #543e6a;
	padding: 70px 0;
}

.team-banner .heading-2 {
	font-size: 24px;
	color: #FFFFFF;
	letter-spacing: 1;
	line-height: 35px;
	font-weight: 300;
	margin-top: 20px;
}

.team-banner .heading-2 strong {
	font-weight: 500;
	color: #30d6c7;
}

.team-history {
	padding: 50px 0;
}

.heading-6 {
	font-size: 16px;
	color: rgba(0, 0, 0, 0.6);
	letter-spacing: 0;
}

.member-detail-header .social-icons {
	text-align: right;
}

.smGlobalBtn {
	display: inline-block;
	position: relative;
	cursor: pointer;
	width: 50px;
	height: 50px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	padding: 0px;
	text-decoration: none;
	text-align: center;
	color: #fff;
	font-size: 25px;
	font-weight: normal;
	line-height: 2em;
	border-radius: 27px;
	-moz-border-radius: 27px;
	-webkit-border-radius: 27px;
}


/* facebook button class*/

.facebookBtn {
	background: #fff;
	transition: all 0.5s ease;
}

.facebookBtn:before {
	font-family: "FontAwesome";
	content: "\f09a";
	color: rgba(0, 0, 0, 0.5);
}

.facebookBtn:hover {
	color: #4060A5;
	background: #4060A5;
	border-color: #4060A5;
}

.facebookBtn:hover:before {
	font-family: "FontAwesome";
	content: "\f09a";
	color: #fff;
}


/* twitter button class*/

.twitterBtn {
	background: #fff;
}

.twitterBtn:before {
	font-family: "FontAwesome";
	content: "\f099";
	color: rgba(0, 0, 0, 0.5);
}

.twitterBtn:hover {
	color: #00ABE3;
	background: #00ABE3;
	border-color: #00ABE3;
}

.twitterBtn:hover:before {
	font-family: "FontAwesome";
	content: "\f099";
	color: #fff;
}


/* linkedin button class*/

.linkedinBtn {
	background: #fff;
}

.linkedinBtn:before {
	font-family: "FontAwesome";
	content: "\f0e1";
	color: rgba(0, 0, 0, 0.5);
}

.linkedinBtn:hover {
	color: #0094BC;
	background: #0094BC;
	border-color: #0094BC;
}

.linkedinBtn:hover:before {
	font-family: "FontAwesome";
	content: "\f0e1";
	color: #fff;
}


/*****Team******/


/*****Responsive Tabs ******/

.thumbnail-tab .image-tab>li {
	width: 11.11%;
}

.thumbnail-tab .image-tab>li a img {
	width: 100%;
}

.thumbnail-tab .image-tab>li>a {
	border: none;
	border-radius: 0;
	padding: 0;
	margin: 0;
	position: relative;
}

.thumbnail-tab .image-tab>li.active>a,
.thumbnail-tab .image-tab>li.active>a:hover,
.thumbnail-tab .image-tab>li.active>a:focus {
	border: none;
	border-radius: 0;
	padding: 0;
	margin: 0;
}

.thumbnail-tab .image-tab {
	border-bottom: none;
}

.thumbnail-tab .image-tab>li>a .navtab-title {
	position: absolute;
	bottom: 30px;
	left: 20px;
	right: 0;
	font-weight: 500;
	font-size: 16px;
	color: #FFFFFF;
	letter-spacing: -0.08px;
	line-height: 20px;
	display: block;
	z-index: 2;
	transition: all 0.5s ease;
}

.thumbnail-tab .image-tab>li>a .navtab-title:before {
	content: '';
	position: absolute;
	background: #fff;
	height: 3px;
	width: 40px;
	top: -10px;
	transition: all 0.5s ease;
}

.thumbnail-tab .image-tab>li>a .overlay-tab {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(48, 214, 199, 0.8);
	left: 0;
	top: 0;
	transition: all 0.5s ease;
	z-index: 1;
	opacity: 0;
}

.overlay-tab:after {
	content: '';
	display: block;
	position: absolute;
	bottom: -32px;
	left: 40%;
	width: 0;
	height: 0;
	border-color: rgba(48, 214, 199, 0.8) transparent transparent transparent;
	border-style: solid;
	border-width: 16px;
}

.thumbnail-tab .image-tab>li>a:hover .overlay-tab,
.thumbnail-tab .image-tab>li.active>a .overlay-tab {
	opacity: 1;
}

.thumbnail-tab .image-tab>li>a:hover .navtab-title,
.thumbnail-tab .image-tab>li.active>a .navtab-title {
	color: #000000;
}

.thumbnail-tab .image-tab>li>a:hover .navtab-title:before,
.thumbnail-tab .image-tab>li.active>a .navtab-title:before {
	background: #000000;
}

#teamMember.thumbnail-tab .image-tab>li {
	width: calc(100% /4);
}

#teamMember.thumbnail-tab .image-tab>li>a>img {
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
	transition: all 0.5s ease;
}

#teamMember.thumbnail-tab .image-tab>li>a .navtab-title {
	color: rgba(255, 255, 255, 0.8);
	font-size: 24px;
	visibility: hidden;
	opacity: 0;
}

#teamMember.thumbnail-tab .image-tab>li>a .navtab-sub-title {
	color: rgba(255, 255, 255, 0.8);
	font-size: 16px;
	font-weight: 400;
	display: block;
	margin-top: 5px;
}

#teamMember.thumbnail-tab .image-tab>li>a .navtab-title:before {
	content: '';
	background: #30D6C7;
	width: 60px;
	top: -20px;
}

#teamMember.thumbnail-tab .image-tab>li>a .overlay-tab {
	background: rgba(0, 0, 0, 0.4);
}

#teamMember .overlay-tab:after {
	content: '';
	border-color: rgba(0, 0, 0, 0.4) transparent transparent transparent;
	left: 50%;
}

#teamMember.thumbnail-tab .image-tab>li>a:hover .navtab-title,
#teamMember.thumbnail-tab .image-tab>li.active>a .navtab-title {
	visibility: visible;
	opacity: 1;
}

#teamMember.thumbnail-tab .image-tab>li>a:hover>img,
#teamMember.thumbnail-tab .image-tab>li.active>a>img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

#teamMember .tab-content {
	padding: 35px 0;
}


/* CSS used here will be applied after bootstrap.css */

.nav-tabs img {
	width: 100%;
}

.nav-tabs>.active>a,
.nav-tabs>.active>a:hover {
	outline: none;
	background-color: #ffffff;
	border: 1px solid #fff;
	border-bottom-color: transparent;
	cursor: default;
}

.nav .nav-tabs li a:hover: {
	background-color: none;
	border: none;
}

.nav-tabs li a:active {
	background-color: #ffffff;
	border: none;
	border-right: 0;
}

.nav .nav-tabs {}

.tabs-below>.nav-tabs,
{
	border: 0px;
}

.tab-content>.tab-pane,
.pill-content>.pill-pane {
	display: none;
}

.tab-content>.active,
.pill-content>.active {
	display: block;
}

@media screen and (max-width: 767px) {
	#teamMember.thumbnail-tab .image-tab>li {
		width: calc(100% /2);
	}
}

.clients .thumbnail-tab .image-tab>li {
	width: calc(100% /6);
	border-bottom: solid rgba(151, 151, 151, 0.21) 1px;
}

.clients .thumbnail-tab .image-tab>li a {
	padding: 50px;
}

.clients .thumbnail-tab .image-tab>li a img {
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
	transition: all 0.5s ease;
}

.clients .tab-content {
	padding: 35px 0;
}

.clients .thumbnail-tab .image-tab>li.active>a,
.clients .thumbnail-tab .image-tab>li.active>a:hover,
.clients .thumbnail-tab .image-tab>li.active>a:focus {
	padding: 50px;
}


/****Responsive Tabs *******/

.custom-list {
	margin: 20px 0;
}

.custom-list ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.custom-list ul li {
	background: url(../images/bullet_icon_small.svg) no-repeat center left;
	background-position: 0% 6px;
	font-size: 16px;
	color: rgba(0, 0, 0, 0.8);
	letter-spacing: 0;
	font-weight: 300;
	padding-left: 20px;
	margin-bottom: 10px;
}

.with-bg-custom-list {
	background: #543e6a;
	padding: 50px 0;
}

.with-bg-custom-list .custom-list .heading-2 {
	color: rgba(255, 255, 255, 0.8);
}

.with-bg-custom-list .custom-list ul li {
	color: rgba(255, 255, 255, 0.8);
}

.division-list .row .col-md-4 {
	padding-top: 15px;
	min-height: 200px;
}

.division-list .row .col-md-4:hover {
	background: #30D6C7;
	transition: all 0.3s ease-in
}

.division-list .row .col-md-4:hover #p-icn {
	fill: #fff;
}

.division-list .row .col-md-4:hover #icn-hb{
	fill: #000000 !important;
}

.division-list .row .col-md-4:hover #icn-hb2{
	fill: #30D6C7; 
}

.division-list .row .col-md-4:hover #icn-hb3{
	fill: #30D6C7 !important; 
	transition: all 0s ease-in;
}

.division-list .row .col-md-4:hover #icn-hb4{
	stroke: #000000 !important; 
}

.nav > li a:focus{
	outline: none;
}





/* Responsive - Common */

@media only screen and (max-width: 767px) {
	/* header */
	.navbar-brand img {
		width: 50%;
	}
	.clearfix::before,
	.clearfix::after,
	.dl-horizontal dd::before,
	.dl-horizontal dd::after,
	.container::before,
	.container::after,
	.container-fluid::before,
	.container-fluid::after,
	.row::before,
	.row::after,
	.form-horizontal .form-group::before,
	.form-horizontal .form-group::after,
	.btn-toolbar::before,
	.btn-toolbar::after,
	.btn-group-vertical>.btn-group::before,
	.btn-group-vertical>.btn-group::after,
	.nav::before,
	.nav::after,
	.navbar::before,
	.navbar::after,
	.navbar-header::before,
	.navbar-header::after,
	.navbar-collapse::before,
	.navbar-collapse::after,
	.pager::before,
	.pager::after,
	.panel-body::before,
	.panel-body::after,
	.modal-header::before,
	.modal-header::after,
	.modal-footer::before,
	.modal-footer::after {
		display: none !important;
	}
	.navbar-nav li img {
		padding-top: 0px;
		width: 85%;
	}
	.na-toggle {
		padding: 13px 0 !important;
		height: 20px;
		width: 40px;
		margin-left: 0px;
	}
	.nav {
		text-align: right;
	}
	.nav>li {
		display: inline-block !important;
	}
	.custom-header .navbar {
		min-height: 43px;
	}
	/* index */
	.strength-quote {
		font-size: 24px;
		text-align: left;
		margin-top: 20px;
		line-height: 30px;
	}
	.strenth-style {
		font-size: 26px;
		line-height: 33px;
	}
	.section-subtitle {
		line-height: 32px;
	}
	.do-quote {
		line-height: 32px;
	}
	.section-title {
		font-size: 28px;
	}
	.success-story-txt {
		width: auto;
	}
	.success-story {
		background: #543E6A;
		background-image: none;
	}
	.success-text {
		float: none;
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.division-title {
		text-align: left;
	}
	.our-division {
		padding-top: 50px;
	}
	.division-list {
		margin-top: 50px;
	}
	.division-list .row .col-md-4 {
		margin-bottom: 30px;
	}
	.what-we-do .col-md-3 {
		margin-bottom: 25px;
	}
	.we-do-list {
		width: 100%;
		float: none;
	}
	.do-list-head {
		font-size: 14px;
		left: 20px;
	}
	.client-list {
		text-align: center;
	}
	.client-list .tab-content p {
		font-size: 18px;
	}
	.what-our-client .division-title {
		text-align: center;
	}
	.represent-text h3 {
		font-size: 24px;
		text-align: left;
		margin-top: 30px;
		line-height: 36px;
	}
	.represent-highlight {
		font-size: 28px;
		line-height: 32px;
	}
	.process-list li {
		line-height: 29px;
	}
	.custom-header .modal-dialog {
		width: 100%;
	}
	.rp-about .banner-next {
		text-align: left;
	}
	.rp-img img {
		width: 100%;
	}
	.rp-info {
		margin: 70px auto;
	}
	.rp-info ul li {
		font-size: 48px;
	}
	.rp-info ul::after {
		height: 273px;
	}
	.info-aftr {
		top: 10px;
	}
	.rp-info ul {
		padding-left: 0px;
	}
	.contact-form {
		float: none;
		width: 100%;
		padding-left: 21px;
		padding-top: 60px;
	}
	.get-in-touch {
		float: none;
		width: 100%;
		padding-left: 21px;
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.address p {
		font-size: 18px;
	}
	.call-email h4 {
		font-size: 18px;
	}
	.we-do-list:hover .overlay {
		width: 95%;
	}
	.panel-title {
		font-size: 16px;
	}
	.panel-text {
		font-size: 12px;
		margin-top: 2px;
	}
	.text {
		padding-top: 10px;
		width: 340px;
	}
	.text .banner-next {
		margin-top: 0px;
	}
	.panel-title::after {
		top: 8px;
	}
	.banner-text {
		top: 45%;
		left: 10px;
	}
	.banner-two {
		top: 45% !important;
	}
	.banner-text h3 {
		font-size: 28px;
		line-height: 27px;
	}
	.banner-inhead {
		font-size: 24px;
		line-height: 27px;
	}
	.banner-text p {
		font-size: 16px;
	}
	.banner-img1 {
		height: 400px;
	}
	.banner-img2 {
		height: 400px;
	}
	.banner-img3 {
		height: 400px;
	}
	.banner-img4 {
		height: 400px;
	}
	.banner .flex-control-nav {
		top: 90px;
	}
	.banner .flex-control-paging li a {
		height: 18px;
	}
	.menu-logo img {
		width: 21%;
	}
	.navbar-on .bar1 {
		transform-origin: 13% 40%;
	}
	.ham-menu nav {
		overflow-y: auto;
	}
	.ham-menu nav ul {
		width: auto;
		padding-top: 0px;
	}
	.ham-menu nav ul li:last-child {
		margin-right: 60px;
	}
	.ham-menu nav ul li {
		display: block;
		padding: 26px;
		margin-right: 60px;
	}
	.arrow_box::after {
		display: none;
	}
	.arrow_box3::after {
		display: none;
	}
	/* contact -rsp */
	.tell-us-form h3 {
		line-height: 32px;
		font-size: 24px;
	}
	.tell-us-form {
		padding-bottom: 10px;
	}
	.tell-us-bg {
		padding-left: 16px;
	}
	.contact-us-detail {
		padding-top: 60px;
	}
	.contact-us-detail .call-ph h4 {
		font-size: 28px;
	}
	.contact-us-detail .call-email h4 {
		font-size: 22px;
	}
	.country-address-title {
		margin-top: 30px;
	}
	.countries-address {
		padding-top: 60px;
	}
	.contact-us {
		padding-top: 70px;
	}
	/* methodology-rsp */
	.process-title {
		font-size: 24px;
		line-height: 32px;
	}
	.process-subtitle {
		font-size: 18px;
	}
	.process-note p {
		font-size: 18px;
	}
	.testing-process .process-title {
		line-height: 34px;
	}
	.test-list li {
		font-size: 18px;
	}
	/* who-w-are-rsp */
	.mission-list ul li {
		font-size: 18px;
	}
	.mission-heading .section-title {
		margin-bottom: 20px;
	}
	/* teams-rsp */
	.main-title {
		font-size: 24px;
		text-align: left;
		margin-top: 30px;
		line-height: 36px;
	}
	.main-title strong {
		font-size: 28px;
	}
	#teamMember .overlay-tab::after {
		display: none;
	}
	#teamMember.thumbnail-tab .image-tab>li {
		width: calc(100% /1);
	}
	.member-detail-header .social-icons {
		text-align: left;
		margin-bottom: 20px;
	}
	/* whatwedo-rsp */
	.thumbnail-tab .nav>li {
		width: calc(100% /2);
	}
	.thumbnail-tab .nav>li>a .navtab-title {
		right: 20px;
		font-size: 14px;
	}
	.overlay-tab::after {
		display: none;
	}
	.heading-1 {
		font-size: 24px;
	}
	.our-industry {
		text-align: left;
	}
	.form-group .col-md-3 {
		margin-bottom: 20px;
	}
	.core-area ul li {
		display: block;
	}
	.un-styled-list {
		text-align: center;
	}
	/* success-rsp */
	.clients .thumbnail-tab .image-tab>li {
		width: calc(100% /2);
	}
	.main-title strong {
		line-height: 0px;
	}
	.inner-banner {
		height: auto;
	}
	.team-banner {
		padding: 0;
	}
	.team-banner .heading-2 {
		font-size: 18px;
		line-height: 32px;
		padding-bottom: 20px;
	}
	.team-banner .heading-2 strong {}
	.contact-us-detail {
		padding-top: 30px;
		margin-top: 0px;
	}
	/* shareidea-rsp */
	ul.tab-name li {
		display: block;
		padding: 0px;
		margin-right: 0px;
		margin-bottom: 30px;
	}
	ul.tab-name {
		border: none;
		text-align: center;
	}
	.tab-txt h4 {
		font-size: 22px;
	}
	.share-idea .contact-us-detail {
		padding-left: 0px;
	}
}

@media only screen and (min-width: 480px) and (max-width: 639px) {
	#teamMember.thumbnail-tab .image-tab>li {
		width: calc(100% /2);
	}
	.panel-title {
		font-size: 24px;
	}
	.panel-text {
		font-size: 18px;
		margin-top: 10px;
	}
	.text {
		padding-top: 60px;
		width: 540px;
	}
	.text .banner-next {
		margin-top: 0px;
	}
	.panel-title::after {
		top: 50px;
	}
	ul.clients li {
		display: block;
	}
	.arrow_box::after {
		display: none;
	}
	.contact-us-detail {
		margin-top: 0px;
	}
	.menu-logo img {
		width: 11.5%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	/* index */
	.strength-quote {
		font-size: 24px;
		text-align: left;
		margin-top: 20px;
		line-height: 36px;
	}
	.strenth-style {
		font-size: 26px;
	}
	.section-title {
		font-size: 28px;
	}
	.success-story-txt {
		width: auto;
	}
	.success-story {
		background: #543E6A;
		background-image: none;
	}
	.success-text {
		float: none;
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.division-title {
		text-align: left;
	}
	.our-division {
		padding-top: 50px;
	}
	.division-list {
		margin-top: 50px;
	}
	.division-list .row .col-md-4 {
		margin-bottom: 30px;
	}
	.what-we-do .col-md-3 {
		margin-bottom: 25px;
	}
	.we-do-list {
		width: 100%;
		float: none;
	}
	.do-list-head {
		font-size: 14px;
		left: 20px;
	}
	.client-list {
		text-align: center;
	}
	.client-list .tab-content p {
		font-size: 18px;
	}
	.what-our-client .division-title {
		text-align: center;
	}
	.represent-text h3 {
		font-size: 24px;
		line-height: 36px;
	}
	.represent-highlight {
		font-size: 28px;
	}
	.rp-about .banner-next {
		text-align: left;
	}
	.rp-img img {
		width: 100%;
	}
	.rp-info {
		margin: 70px auto;
	}
	.rp-info ul li {
		font-size: 48px;
	}
	.rp-info ul::after {
		height: 273px;
	}
	.info-aftr {
		top: 10px;
	}
	.rp-info ul {
		padding-left: 0px;
	}
	.contact-form {
		float: none;
		width: 100%;
		padding-left: 21px;
		padding-top: 60px;
	}
	.get-in-touch {
		float: none;
		width: 100%;
		padding-left: 21px;
		padding-top: 60px;
		padding-bottom: 60px;
	}
	.address p {
		font-size: 18px;
	}
	.call-email h4 {
		font-size: 18px;
	}
	.we-do-list:hover .overlay {
		width: 95%;
	}
	.panel-title {
		font-size: 24px;
	}
	.panel-text {
		font-size: 18px;
		margin-top: 10px;
	}
	.text {
		padding-top: 60px;
		width: 640px;
	}
	.text .banner-next {
		margin-top: 0px;
	}
	.panel-title::after {
		top: 50px;
	}
	.banner-text {
		top: 45%;
		left: 10px;
	}
	.banner-two {
		top: 45% !important;
	}
	.banner-text h3 {
		font-size: 32px;
		line-height: 27px;
	}
	.banner-inhead {
		font-size: 28px;
		line-height: 37px;
	}
	.banner-text p {
		font-size: 18px;
	}
	.banner-img1 {
		height: 400px;
	}
	.banner-img2 {
		height: 400px;
	}
	.banner-img3 {
		height: 400px;
	}
	.banner-img4 {
		height: 400px;
	}
	.banner .flex-control-nav {
		top: 90px;
	}
	.banner .flex-control-paging li a {
		height: 18px;
	}
	.menu-logo img {
		width: 16.5%;
	}
	.navbar-on .bar1 {
		transform-origin: 22% 40%;
	}
	.ham-menu nav {
		overflow-y: auto;
	}
	.ham-menu nav ul {
		width: auto;
		padding-top: 0px;
	}
	.ham-menu nav ul li:last-child {
		margin-right: 60px;
	}
	.ham-menu nav ul li {
		display: block;
		padding: 26px;
		margin-right: 60px;
	}
	.arrow_box::after {
		display: none;
	}
	.mission-heading .section-title {
		margin-bottom: 20px;
	}
	.team-banner .heading-2 {
		font-size: 16px;
		line-height: 26px;
		margin-top: 0px;
	}
	.thumbnail-tab .nav>li {
		width: calc(100% /3);
	}
	.overlay-tab::after {
		display: none;
	}
	.main-title {
		font-size: 24px;
		line-height: 36px;
	}
	.main-title strong {
		font-size: 28px;
		line-height: 32px;
	}
	.our-industry {
		text-align: left;
	}
	.main-title {
		margin-top: 0px;
	}
	.tab-txt h4 {
		font-size: 17px;
	}
	ul.tab-name li {
		margin-right: 15px;
	}
}

@media (min-width: 992px) and (max-width: 1024px) {
	.main-title {
		margin-top: 0px;
	}
	.team-banner .heading-2 {
		font-size: 20px;
		line-height: 32px;
		margin-top: 0px;
	}
	.send-button a {
		font-size: 18px;
	}
	.cty-address p {
		font-size: 14px;
	}
	.cty-contact p {
		font-size: 14px;
	}
	.success-story {
		background-position: center center;
	}
	.success-story-txt {
		width: 426px;
	}
	.we-do-list:hover .overlay {
		width: 75%;
	}
	.text {
		padding-top: 20px;
		width: 400px;
	}
	.text .banner-next {
		margin-top: 0px;
	}
	.panel-title::after {
		top: 50px;
	}
	.arrow_box::after {
		display: none;
	}
	.client-list {
		text-align: center;
	}
	ul.clients li {
		display: block;
	}
	.rp-img img {
		width: 100%;
	}
	.rp-info ul li {
		font-size: 54px;
	}
	.info-aftr {
		top: 15px;
	}
	.rp-info ul::after {
		height: 350px;
	}
	.thumbnail-tab .nav>li>a .navtab-title {
		font-size: 14px;
		line-height: 16px;
	}
	.tab-txt h4 {
		font-size: 22px;
	}
	ul.tab-name li {
		margin-right: 40px;
	}
}

@media only screen and (min-width: 360px) and (max-width: 479px) {
	.text {
		padding-top: 30px;
		width: 340px;
	}
	.panel-title::after {
		top: 25px;
	}
	.menu-logo img {
		width: 18.5%;
	}
	.contact-us-detail {
		padding-top: 30px;
		margin-top: 0px;
	}
}

@media only screen and (min-width: 640px) and (max-width: 767px) {
	.menu-logo img {
		width: 10%;
	}
	.panel-title {
		font-size: 24px;
	}
	.panel-text {
		font-size: 18px;
		margin-top: 20px;
	}
	.text {
		padding-top: 60px;
		width: 540px;
	}
	.text .banner-next {
		margin-top: 0px;
	}
	.panel-title::after {
		top: 52px;
	}
	.do-list-head {
		font-size: 24px;
		left: 20px;
	}
	ul.clients li {
		display: block;
	}
	#teamMember.thumbnail-tab .image-tab>li {
		width: calc(100% /2);
	}
	.contact-us-detail {
		padding-top: 30px;
		margin-top: 0px;
	}
}